body {
    margin: 0px;
    padding: 0px;
    background: #f5f5f5;
    font-family: 'Segoe UI';
}

ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
}

.resp-tabs-list li {
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    padding: 15px 20px;
    margin: 0 4px 0 0;
    list-style: none;
    cursor: pointer;
    float: left;
	background: #edeef2 !important;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 20px;
}
.resp-tabs-list li.resp-tab-active{
	background: #fff !important;
}
.resp-tab-active {
	border: 0px solid #5AB1D0 !important;
	border-bottom: none;
	margin-bottom: 0px !important;
	
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: 0px solid #c1c1c1;
	border-top-color: #5AB1D0;
}

h2.resp-accordion {
    font-size: 13px;
    border: 0px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 100%;
	background:#fff;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0,0,0,.06);
}

.resp-vtabs .resp-tabs-list li {
    display: block;
	border-left: 3px solid #fff !important;
	font-weight: 400;
	background: none !important;
    padding: 16px 20px !important;
	border-bottom: solid 1px #f2f2f2 !important;
	font-size:14px;
    margin: 0px;
    cursor: pointer;
    float: none;
}
.resp-vtabs .resp-tabs-list li:last-child{
	border-bottom: 0px !important;
}
.resp-vtabs .resp-tabs-list li i.arrow {
    width: auto;
    font-size: 12px;
	color: #555;
    float: right;
	padding-top:4px;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    float: left;
    width: 100%;
    border-radius: 5px;
    clear: none;
}

.resp-vtabs .resp-tabs-container h2{
	font-size: 18px;
	padding: 5px 0px 20px;
	text-transform:uppercase;
}

.resp-vtabs .resp-tab-content {
    border: none;
    word-wrap: break-word;
}

.resp-vtabs .resp-tabs-list li.resp-tab-active { 
position: relative;
color:#24aeb1;
z-index: 1;
margin-right: 0px !important;
border-bottom: solid 1px #f2f2f2 !important;
border-left: 3px solid #24aeb1 !important;
margin-bottom: 0px !important;
}
.resp-vtabs li.resp-tab-active i.arrow{
	color:#24aeb1;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #DBDBDB;/* !important;*/
}

.resp-easy-accordion h2.resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1;/* !important;*/
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1;/* !important;*/
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: 100px;
        clear: none;
    }

    .resp-accordion-closed {
        display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}
