@media screen and (max-width: 1139px) {
.container-fluid{ padding:0px 10px;}
.wsmenu{ padding: 0px 15px;}
.title h2, .inner_title h2{ font-size: 32px;}
.trend_detail span, .aboutus_blk h2{ font-size: 24px; line-height: 26px;}
.collection_detail h3{ font-size: 16px;}
.collection_detail h4{ font-size: 18px;}
.collection_detail h4 span{ font-size: 16px;}
.sidebar h3, .account_right h3{ font-size: 18px;}
.sidebar ul{ padding: 25px 20px;}
.sidebar ul li{ font-size: 15px; margin-bottom: 15px;}
label{ font-size: 15px; margin-bottom: 8px;}
.breadcrumb_blk{ margin-bottom: 30px;}
.wsmenu > .wsmenu-list > li > a > .wsarrow{ display:block;}
.exclusive_blk{ padding:110px 0px;}
.exclusive_content h3{ font-size:54px;}
.featured_blk_img{ width: 130px; height: 150px;}
.bdr_top_circle, .bdr_btm_circle{ width: 130px; height: 130px;}
.banner_blk .slick-arrow{ top:35%;}
.trending_product .slick-arrow{ top:42%;}
.best_seller_prodct .slick-arrow{ top:30%;}

}

 @media screen and (max-width:1023px) {
.banner_blk{ padding-top:0px;}
.breadcrumb-item{ font-size: 14px;}
.title h2, .inner_title h2{ font-size: 28px; line-height: 36px;}
.trend_detail span, .aboutus_blk h2{ font-size: 20px; line-height: 20px; bottom: 15px;}
.slick-arrow{ display:none !important;}
.modal-dialog{ width: 95%; max-width: 450px; margin: 105px auto;}
.product_listing .collection_detail{ margin-bottom: 30px;}
.header_search{ width: 250px; display:block;}
.headertopright ul li{ margin-left:25px;}
.shop_category_blk, .hot_deals, .trending_blk, .featured_blk{ padding:30px 0px;}
.category_blk .trend_detail h3{ font-size:13px;}
.exclusive_blk{ padding:90px 0px;}
.exclusive_content h2{ font-size:22px; margin-bottom: 15px; line-height: 24px;}
.exclusive_content h3{ font-size:44px; line-height: 48px; margin-bottom: 10px;}
.exclusive_content p{ font-size:24px;}
.footer_content h2{ font-size:16px;}
.wsmenu{ padding:0px;}
.wsmenu > .wsmenu-list > li:first-child a{ color:#fff;}
}

 @media screen and (max-width:991px) {
.wsactive .wsanimated-arrow span{ top:10px;}
.wsmobileheader .smllogo{ width:85px; margin-top: 0px; float: left; margin-left: 50px;}
.headertopright{ position: absolute; top: 0px; padding-top: 8px; right: 15px;}
.headerwp { padding: 0px;}
.wsmenu > .wsmenu-list > li{ margin:0px;}
.headertopright .dropdown-menu{ top:37px !important;}
.user_info ul li a span.signin-txt {display:none;}
.user_info ul li i {font-size: 20px;}
.prescription-btn {display:none;}
.user_info ul li.menu-btn {display:inline-block;}
.header_right_btm .navbar {
	padding: 0px;
}
.header_btm {
	padding: 10px 0px;
}
.header_right_btm {
	margin-left: -18.667%;
}
.container, .container-md, .container-sm {
	max-width: 780px;
}
.header_right_btm .navbar .nav-item {
	margin-top: 11px;
}
.banner_slider .img-fluid {
	height: 340px !important;
}
.feature_blk {
	padding: 8px 20px;
}
.feature_blk ul {
	flex-flow: wrap;
}
.feature_blk ul li {
	width: 50%;
	margin: 8px 0px;
}
.achivemnt_txt h2 {
	font-size: 20px;
}
.company_info {
	padding: 0px;
}
.downld_txt a {
	margin-bottom: 5px;
	display: inline-block;
}

}

 @media screen and (max-width:767px) {
.headertopright ul li{ font-size: 16px; margin-left: 20px;}
.headertopright .dropdown-menu{ right:0px;}
.title, .inner_title{ margin-bottom: 60px;}

.hidden-xs{ display:none;}
.mobile-category-show { display: none; background: #fff; width: 100%; padding: 0px; position: fixed; z-index: 9999; left: 0; right: 0; bottom: 50px; box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3); border-radius: 8px 8px 0px 0px; overflow: hidden; }
.mobile-filter { border-top: 1px solid #ccc; cursor: pointer; font-size: 16px; position: fixed; width: 100%; left: 0px; bottom: 0px; right: 0px; background: #a10601; padding: 15px; z-index: 999; text-align: center; color: #fff; display: block; text-transform: uppercase;}
.mobile-category-show .tabs-left{ display:flex;}
.mobile-category-show .tabs-left > .nav-tabs { border-bottom: 0; }
.tab-content > .tab-pane { width: 100%; }
.tabs-left > .nav-tabs > li { float: none; margin-bottom: 0px;}
.tabs-left > .nav-tabs > li > a { margin-right: 0; margin-bottom: 0px; letter-spacing: 0.5px; font-weight: 400; }
.tabs-left > .nav-tabs { width:35%; float: left; display: block; margin-right: 10px; border: none; height: 300px; background: #222b5a; }
.tabs-left > .nav-tabs > li > a { display: block; margin-right: 0px; border-radius: 0px; color: #fff; border: none; padding: 15px; font-size: 16px; }
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus { border: none; }
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus { border: none; }
.tabs-left .checkbox_btn { width: 100%; margin-right: 0px; margin-bottom:0px; padding: 0px;}
.tabs-left > .nav-tabs .active > a { background: #fff; color: #222b5a; border: none; }
.mobile-category-show .tab-content { width:65%; padding: 16px 10px; float: left; }
.mobile-category-show .panel-body { padding: 0px; }
.mobile-category-show .tab-content .panel-body ul li{ margin-bottom:5px;}
.buy .modal-footer .col{ margin: 10px 0px;}
.buy .modal-footer{ display:block; padding:20px 30px;}

.category_blk .col{ flex-basis: unset;}
.trend_detail{ width:250px; margin:0px auto 20px;}
.category_blk .trend_detail h3{ font-size:15px;}

.headertopright{ right:0px;}
.header_search{ display:none;}
.headertopright ul li:last-child a{ padding: 11px 10px;}
.popular_blk_img, .ad_content_blk{ margin-bottom:15px;}
.exclusive_blk{ padding:50px 0px;}
.exclusive_content{ width:100%;}
.exclusive_content h2{ font-size:20px; margin-bottom: 15px; line-height: 24px;}
.exclusive_content h3{ font-size:32px; line-height: 48px; margin-bottom: 10px;}
.exclusive_content p{ font-size:22px;}
.footer_content{ margin-bottom:20px;}
.breadcumb_blk{ margin-top:60px; padding: 15px 0px 18px;}
.filter_top p{ display:none;}

.filter_blk{ margin-bottom:30px;}
.buy .modal-header{ padding: 20px 50px 20px 15px;}
.buy .modal-body{ padding: 25px 15px;}
.buy .product_detail{ padding-left:0px; padding-top:30px;}
.enquiry_btn{ margin-top:0px;}
.header_logo {
	text-align: center;
	margin-bottom: 12px;
}
.header_logo img {
	width: 150px;
}
.search_bar input {
	display: none;
}
.pincode_blk {
	width: 134px;	
	border-radius: 5px;
}
.header_right_btm {
	margin-left: 1%;
}
.explore_menus ul {
	flex-flow: wrap;
}
.explore_menus ul li {
	width: 100%;
	margin: 4px 0;
}
.feature_blk ul li {
	width: 100%;
	margin: 4px 0px;
}
.title_blk h2 {
	font-size: 18px;
}
.timer {
	font-size: 12px;
	padding: 5px 8px;
	left: inherit;
	top: -2px;
	right: 0;
}
.cmn_blk {
	padding: 15px;	
}
.title_blk {
	margin-bottom: 15px;
}
.achivemnt_txt h2 {
	font-size: 20px;
	font-weight: 500;
}
.newsletter_content::after {
	display:none;
}
.newsletter_content {
	max-width: 95%;
}
.newsletter_blk {
	padding: 30px 0px;
}
.newsletter_content h2 {
	font-size: 22px;
}
.newsletter_content p {
	margin-bottom: 20px;
}
.footer_top {
	padding: 25px 0px;
}
.company_info {
	padding: 10px 0px;
}
.info_txt h2 {
	font-size: 16px;
	margin-bottom: 4px;
}
.info_icon span {
	width: 60px;
	height: 60px;
	font-size: 24px;	
	margin-right: 12px;	
}
.downld_txt {
	margin-top: 13px;
}
.downld_txt h4 {
	font-size: 18px;
	margin-bottom: 10px;
}
.footer_txt h2 {
	font-size: 17px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.footer_mdl {
	padding: 30px 0px;
}
.banner_slider .img-fluid {
	height: 225px !important;
}
.right_sidebar {
	margin-top: 15px;
}
.user_info ul li.menu-btn .navbar-toggler {
	padding: 0px;
}
.user_info ul li {
	font-size: 12px;
	margin-left: 7px;
}
.user_info ul li button {padding:0px;}
#page-header-notifications-dropdown {
	padding: 0px;
}
.user_tgl .userimg {
	width: 30px;
	height: 30px;
	margin-right:0px;
}



}
