
body {
  padding-top: 50px;
  background:#eff0e4;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
  border: 0;
}

.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #333;
    border-right: 1px solid #6b6b6b;
  }
}


.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
  
}


.main .page-header {
  border-left: 4px solid #fb527c;
    color: #333;
    font-family: arial;
    font-size: 25px;
    font-weight: 800;
    margin-top: 0;
    padding-left: 10px;
    padding-top: 12px;
    text-transform: uppercase;
	background:#fff;
}

.navbar-brand {
    padding: 4px 15px;
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.btn-pink {
	color:#fff !important;
	}
.btn-pink:hover {
	background:#333 !important;
	}	
.nav-sidebar  {
		margin-bottom:0;
	}	
.nav-sidebar li {
	
	border-bottom:solid 1px #464646;
	}
.nav-sidebar li a {
	color:#fff;
	 font-size: 13px !important;
    letter-spacing: 1px;
    text-transform: uppercase;
	}
.nav-sidebar li a i {
	font-size:16px;
	}	
.nav-sidebar li a:hover,.nav-sidebar li a:focus {
	color:#fff;
	background:#fb527c;
	}
	
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
	color:#fff;
	background:#fb527c;
	font-weight:bold;
}				
.navbar-default {
 border-bottom: 1px solid #d5d7c8;
    box-shadow: 0 0 5px #ccc;
	background:#f0f2e3;
}


.navbar-brand {
    width: 230px;
}
.navbar-default h1 {
	text-transform:uppercase;
	font-family:arial;
	font-weight:800;
	font-size:30px;
	margin-top:10px;
	text-shadow:0 4px 0 #fff;
	color:#333;
	}
.nav-sidebar > li > a {
    font-size: 15px;
}

.nav-sidebar > li > a i {
	margin-right:10px;
	}
.user-panel {
	background:#feb500;
	color:#333;
	padding:10px;
		text-transform:uppercase;
	font-family:arial;
	font-weight:800;
		text-shadow:0 1px 0 #fff;
		line-height: 40px;
		margin:0;
		font-size:16px;
	}
	
.panel-heading {
	border-bottom:solid 1px #ddd;
	padding:15px 10px;
	}	
.panel-heading h2 {
	margin:0;
	}
.power {
    bottom: 0;
    color: #a2a1a1;
    padding: 20px 0;
    position: absolute;
    text-align: center;
	left:5px;

}
.power a {
color:#f95b82;	
	}
					
.navbar-nav > li > a {
	line-height:30px;
	}
.navbar-nav > li > a i {
	font-size:15px;
	border:solid 1px #777;
	width:30px;
	height:30px;
	text-align:center;
	vertical-align:middle;
	line-height:30px;
	border-radius:50%;
	}
.navbar-nav > li > .dropdown-menu {
	background:#fff;
	border:none;
	border-radius:0;
		}
.navbar-brand {
overflow: hidden;
white-space: nowrap;
    width: 250px;

}
.navbar-brand > img {
	display:inline-block;
	}	
.brand-address {
display:inline-block;
font-size:15px;
padding-left:10px;
line-height:15px;
vertical-align:middle;
	}
.navbar-nav li:last-child {
	border-left:solid 1px #ddd;
	}
	
.dropdown-menu li:last-child {
border:none;
}	
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle	{
	border-radius:0;
	}
.dropdown-menu > li > a {
    border-bottom: 1px solid #f5f5f5;
    font-size: 13px;
    padding: 7px 20px;
}

.dropdown-menu > ul > li > a

.panel-heading h3 {
 margin-top:0 !important;

	}										
.account .panel-heading {
padding-top:5px;	
	}	
label {
	font-weight:normal;
	}	
	
	
.signup-heading {
	background:#c20e0e;
	height:130px;
	}
.sign-part {
	padding:30px;
	}	
.sign-part h2 {
	margin-top:0;
	font-size:25px;
	margin-bottom:30px;
	}
.sign-part label {
	font-size:13px;
	}
.sign-part .form-control {
	height:41px;
	}	
.btn-red {
	background:#eb2244;
	border-radius:0;
	color:#fff !important;
	text-transform:uppercase;
	}
.btn-red:hover {
	background:#333;
	color:#fff !important;
	
	}	
.e-footer {
	background:#fff;
	padding:20px 10px 10px;
	text-align:center;
	margin-top: 20px;
	}	
	
.empolyee-page {
	padding:0;
	background:url(../images/employee-bg.jpg) 0 0 no-repeat;
height:100%;
width:100%;
background-size:cover;	
	}	
.empolyee-page .navbar {
	border-radius:0;
box-shadow:none;
	}	

.empolyee-signup {
	background:#fff;
	}	
.sign-footer {
	background:#f2f2f2;
	padding:20px;
	}		
	
.form-horizontal .radio {
	padding-top:0;
	}	
.faq-list {
	list-style:none;
	padding:0;
	}
.navbar-collapse.in .nav > li {
	border-bottom:solid 1px #dfe1d6;
	}
	
.account .panel {
    border: 1px solid #ddd;
    border-radius: 0px !important;
}	

.profile-info ul li .s-left1 {
padding:10px 5px !important;	
	}
.notification ul {
	list-style:none;
	padding:0;
	}
.noti i {
    font-size: 4em !important;
}

.panel-heading h3 {
	margin-bottom:0;
	}
	
.bio {
	padding:10px;
	border:solid 1px #ddd;
	border-top-color:#fff;
	}	
.opn-tab {
background:#333;	
	}
	
.nav-tabs > li > a {
	color:#;
	border-radius: 0;
	}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: #fb527c;
}	

.nav-tabs > li > a:hover {
    border-color: transparent;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
   border-color: transparent;
     background-color: #fb527c;
	 color:#fff;	
	}		