
       .ui-autocomplete {
 		
			background: #fff none repeat scroll 0 0;
    border: 1px solid #aaa !important;
    border-radius: 3px 0 3px 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: visibility 0s linear 0.1s, opacity 0.1s linear 0s;
	  overflow-x: hidden;
	      max-height: 200px;
		  border-top: 0!important;
           
        } 
		
		.ui-autocomplete .ui-menu-item {background: none!important;margin: 1px 2px;  border: medium none;}
		.ui-corner-all .ui-corner-all {border-radius: none!important; font-size: 14px;background: none!important; }
		.ui-autocomplete .ui-menu-item:hover {background: #efefef!important}
		.ui-state-focus {border: 1px solid transparent!important;}
		
