img {
	max-width: 100%;
}
.clr {
	clear: both;
}
ul {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none!important;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 22px;
	font-weight: 400;
}
body {
	background: #fff;
	color: #666;
	/* font-family: 'Roboto', sans-serif;
 font-family: 'Raleway', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;
}
h1 {
	font-family: 'Open Sans', sans-serif;
	color: #151515;
	font-size: 40px;
	position: relative;
}
h1 span {
	font-family: 'Open Sans', sans-serif;
}
h2 {
	font-family: 'Open Sans', sans-serif;
	color: #666;
	font-size: 20px;
	margin-bottom: 15px;
}
h4 {
	font-size: 15px;
	color: #333;
	font-weight:700;
	//text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}



/*================================= Header ======================================*/

header {
	display: block;
}
.header-top {
	background: #eee;
	color: #69686c;
	font-size: 12px;
	font-weight: 400;
	padding: 3px 0;
}
.header-top a {
	color: #69686c;
	font-size: 12px;
	font-weight: 400;
}
.header-top a:hover {
	color: #000;
}
.top-left, .top-right {
	display: block;
}
.top-left ul, .top-right ul {
	list-style: none;
}
.top-left ul li, .top-right ul li {
	border-right: solid 1px #dedede;
	display: inline-block;
	margin-right: 5px;
	padding-right: 7px;
}
.top-left ul li:last-child, .top-right ul li:last-child {
	border: none;
/*	  margin-left: -5px;*/
}
.top-left ul li i, .top-right ul li i {
	margin-right: 5px;
}
.header-mid {
	display: block;
	padding: 30px 0;
}
.shopcart {
	border: solid 1px #ccc;
	padding-right: 6px;
}
.handle {
	background: #eee;
	 padding: 7px 10px 7px 5px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 400;
	vertical-align: super;
}
.title {
    color: #000;
    display: block;
    line-height: 16px;
    margin-left: 0;
    text-align: center;
    vertical-align: text-bottom;
}
.text-shopping-cart {
	color: #fe9c00;
	vertical-align: super;
	text-align:center;
	display:block;
}
.search-box .form-control {
	height: 45px;
}
.search-box button {
	height: 45px;
	padding: 0 15px;
	border-radius: 0;
	background: #eee;
	color:#565656;
}

.search-box button i {
	font-size:20px;
	}
.banner {
	background: #fafafa;
}
.carousel-control.right, .carousel-control.left {
	background: none;
}
.carousel-control {
	width: 6%;
}
.carousel-control .glyphicon {
	border: solid 2px #ccc;
}


.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    font-size: 15px;
    height: 33px;
    line-height: 28px;
    margin-top: -10px;
    width: 33px;
	text-shadow: none;
	color:#333;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -23px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -23px;
}

.carousel-caption {
    left: 6%;
    padding-bottom: 30px;
    right: 20%;
    top: 36%;
	text-align:left;
	text-shadow:none;
}

.carousel-caption  h2 {
	font-size:29px;
	font-weight:300;
	color:#a0a0a0;
	margin-top:0;
	margin-bottom:5px;
	}
.carousel-caption  h1 {
	font-size:35px;
	font-weight:700;
	text-transform:uppercase;
	color:#414141;
	margin-top:0;
	text-shadow:0 1px 0 #fff ;
	margin-bottom:15px;
	}
.carousel-caption  h1 span {
	color:#ee7013;
	font-size:54px;
	}
.button-trans {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #8b8a8a;
    color: #565656;
    font-size: 16px;
    font-weight: 700;
    padding: 6px 15px;
    text-transform: uppercase;
}
/*-------------------- 5. VERTICAL MENU ---------------------*/

.container .container {
	width: auto !important;
}
.left_column .so-vertical-menu {
	position: relative;
	margin-bottom: 0;
}
.left_column .so-vertical-menu #menuHeading {
	margin-top: 0;
	height: 45px;
}
.left_column .so-vertical-menu #menuHeading .megamenuToogle-wrapper {
	background-color: #e9e9e9;
	height: 45px;
	cursor: pointer;
	-webkit-transition: 0.3s all ease 0s;
	-moz-transition: 0.3s all ease 0s;
	transition: 0.3s all ease 0s;
}
.left_column .so-vertical-menu #menuHeading .megamenuToogle-wrapper .container {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 0 0 17px !important;
	line-height: 45px;
	text-shadow: none;
	color:#242424;
}
/*.left_column .so-vertical-menu #menuHeading .megamenuToogle-wrapper .container:before {
	width: 45px;
	height: 45px;
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	background: url("../images/title_vmenu.png") no-repeat;
	background-position: center center;
	background-color: #e9e9e9;
}*/
.left_column .so-vertical-menu .vertical-wrapper {
	width: 100%;
	background: white;
	position: relative;
	border: 1px solid #ddd;
	border-top: 0;
}
.left_column .so-vertical-menu .vertical-wrapper ul li {
	background: white;
	border-top: 0;
	min-height: 27px;

}
.left_column .so-vertical-menu .vertical-wrapper ul li > a {
	color: #444;
	padding: 0 18px;
	 line-height: 36.5px;
    min-height: 36px;
	border-bottom: 0;
}
.left_column .so-vertical-menu .vertical-wrapper ul li > a:hover {
	color: #666;
}
.left_column .so-vertical-menu .vertical-wrapper ul li > a strong {
	font-weight: normal;
}
.left_column .so-vertical-menu .vertical ul.megamenu > li {
	margin: 0;
	border-right: 0;
	border-bottom:solid 1px #eee;
}
.left_column .so-vertical-menu .vertical ul.megamenu > li strong i {
	display: none;
}
.left_column .so-vertical-menu .vertical ul.megamenu > li > a {
	padding-left: 15px;
}
.left_column .so-vertical-menu .vertical ul.megamenu > li > a:hover {
	color: #666;
}
.left_column .so-vertical-menu .vertical ul.megamenu > li.css-menu .sub-menu .content {
	 padding: 7px 0;
}
.left_column .so-vertical-menu .vertical ul.megamenu > li.css-menu .hover-menu .menu > ul {
	padding: 0;
	margin: 0;
}
.left_column .so-vertical-menu .vertical ul.megamenu > li.css-menu .hover-menu .menu > ul li:hover {
	background: #eee;
}
.left_column .so-vertical-menu .vertical ul.megamenu > li.css-menu .hover-menu .menu > ul li:hover > a {
	color: #6666666;
}
.left_column .so-vertical-menu .vertical ul.megamenu > li.css-menu .hover-menu .menu > ul li a {
	line-height: 37px;
}
.left_column .so-vertical-menu .vertical ul.megamenu > li.css-menu .hover-menu .menu > ul li a b {
	line-height: 37px;
	font-size: 16px;
}
.left_column .so-vertical-menu .vertical ul.megamenu > li.css-menu .hover-menu .menu > ul ul {
	padding: 0;
}
.left_column .so-vertical-menu .vertical ul.megamenu > li.css-menu .hover-menu .menu > ul ul:before, .left_column .so-vertical-menu .vertical ul.megamenu > li.css-menu .hover-menu .menu > ul ul:after {
	display: none;
}
.left_column .so-vertical-menu .vertical ul.megamenu > li.item-style3 .sub-menu .content {
	padding-right: 0;
}
.left_column .so-vertical-menu .vertical ul.megamenu > li.with-sub-menu > a:after {
	content: "\f105";
	color: #c8c8c8;
	font-family: Fontawesome;
	font-size: 16px;
	float: right;
	margin: 0;
}
.left_column .so-vertical-menu .vertical ul.megamenu > li.with-sub-menu:hover > a:after {
	position: static;
	border-color: transparent;
	color: #6666666;
}
.left_column .so-vertical-menu .vertical ul.megamenu > li:hover {
	background-color: #fafafa;
}
.left_column .so-vertical-menu .vertical ul.megamenu > li:hover > a {
	color: #6666666;
}
.left_column .so-vertical-menu .vertical ul.megamenu > li.active > a {
	background: transparent !important;
}
.left_column .so-vertical-menu .vertical ul.megamenu > li.loadmore {
	text-align: left;
	border-top: 1px solid #ddd;
	padding: 13px 10px;
}
.left_column .so-vertical-menu .vertical ul.megamenu > li.loadmore span.more-view {
	font-weight: normal;
	padding: 14px 0;
}
.left_column .so-vertical-menu .vertical ul.megamenu > li.loadmore:hover {
	color: #6666666;
}
.left_column .so-vertical-menu .vertical ul.megamenu > li.loadmore:hover span.more-view {
	color: #6666666;
}
.left_column .so-vertical-menu .vertical ul.megamenu > li .sub-menu .content {
	border-top: 1px solid #ddd;
}
.left_column .so-vertical-menu .vertical ul.megamenu > li .sub-menu .content .banner {
	margin-top: -21px;
	margin-bottom: -22px;
	margin-right: -1px;
}
.left_column .so-vertical-menu .vertical ul.megamenu > li .sub-menu .content .static-menu .menu ul a.main-menu {
	padding: 0;
}
.left_column .so-vertical-menu ul.megamenu .sub-menu .content .static-menu .menu ul {
	padding-bottom: 0;
}
.left_column .so-vertical-menu ul.megamenu .sub-menu .content .static-menu .menu ul li > a {
	line-height: inherit;
	padding-bottom: 0;
	border-bottom: none;
	min-height: auto;
}
.left_column .so-vertical-menu ul.megamenu .sub-menu .content .static-menu .menu ul li > a:hover {
	color: #6666666;
}
.left_column .so-vertical-menu ul.megamenu .sub-menu .content .static-menu .menu ul ul a {
	padding: 0;
}
.left_column .so-vertical-menu ul.megamenu .sub-menu .content .static-menu .menu ul ul a:hover {
	color: #6666666;
}

.owl-carousel .owl-item {
    float: left;
    text-align: center;
}
/*-------------------- 5. VERTICAL MENU END ---------------------*/


.pr-box {
    display: block;
    padding: 10px;
	margin-bottom:20px;
	text-align:left;
	-webkit-transition: 0.3s all ease 0s;
	-moz-transition: 0.3s all ease 0s;
	transition: 0.3s all ease 0s;border: 1px solid #d7d7d7;
    }
.img-box {
    display: block;
    height: 200px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 255px;
	margin-bottom:10px;
}
	.owl-item .item {   margin: 0 10px;}
/*	.pr-box img {height: 200px;}*/
	.owl-item {
	}
.pr-box:hover {
	box-shadow:0 0 15px #ccc;
	}
.price {
    color: #141313;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 25px;
}

.pr-box .ad-cart {
    border-radius: 40px;
    bottom: 5px;
    color: #878787;
    font-size: 13px;
    font-weight: 300;
    left: 27%;
    padding: 6px 17px;
    position: absolute;
    text-transform: uppercase;
}

.products-list {
	display:block;
	margin-top:40px;
	}
.products-list h3 {
	text-transform:uppercase;
	font-size:15px;
	color:#8f8f8f;
	font-weight:700;
	margin-top:0;
	}


.products-list h3:after {
    display:block;
    margin: 5px 0 0  ;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: #d2d2d2;
    width: 50px;
}
.products-list h3 span{
	position:relative;
	width:30px;
	height:5px;
	background:#ddd;
	}

#owl-demo2 .owl-prev, #owl-demo2 .owl-next,#owl-demo3 .owl-prev, #owl-demo3 .owl-next,#owl-demo1 .owl-prev, #owl-demo1 .owl-next {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0;
    color: #666;
    display: inline-block;
    font-size: 16px;
    height: 36px;
    line-height: 26px;
    margin-top: -35px;
    position: absolute;
    text-align: center;
    top: 50%;
    transition: background-color 400ms ease 0s;
    width: 36px;
    z-index: 5;
	border: solid 2px #e1e1e0;
}

#owl-demo2 .owl-prev,#owl-demo3 .owl-prev,#owl-demo1 .owl-prev {
	left:0;
	}
#owl-demo2 .owl-next,#owl-demo3 .owl-next,#owl-demo1 .owl-next {
	right:0;
	}
#owl-demo2 .owl-pagination,#owl-demo3 .owl-pagination,#owl-demo1 .owl-pagination {
	display:none;
	}
.view-all a {
	color:#69686c;
	font-size:12px;
	font-weight:300;
	margin-top:10px;
	}
.view-all a:hover {
	color:#000;
	}
.mid-advertise {
	display:block;
	margin-top:20px;
	}
.mid-advertise a:hover{
	opacity:0.9;
	}
.list-deading {
	position:relative;
	z-index:99;
	}

/*================================= footer ======================================*/


footer {
background:#eee;
border-top:solid 1px #e1e1e1;
padding-top:1px;
margin-top:20px;
	}
.footer-top {
	display:block;
	padding-top:35px;
	color:#69686c;
	}
.footer-top h4 {
    color: #7d7d7d;
    font-weight: 600;
}
.f-about ul {
	list-style:none;
	float: left;
	width: 49%;
	}
.f-about ul li {
	display:block;

	}
.f-about ul li a {
	color:#69686c;
	line-height:30px;
	}
.f-about ul li a:before {
	content: "\f101";
	font-family: 'FontAwesome';
	color:#666666;
	margin-right:5px;
	}

.address {
	display:block;
	margin-bottom:5px;
	}
.icon {
	display:table-cell;
	width:20px;
	padding-top:5px;
	}
.cont {
	display:table-cell;
	}
.cont a {
	color:#69686c;
	}
.newsletter {
	margin-top:20px;
	}
.newsletter input {
border-color:#c9c9c9;
box-shadow:none;
border-radius:0;
background:#fafafa;
height:38px;
font-size:12px;
color:#333;
font-weight:300;
	}
.newsletter button {
background:#b1afaf;
height:38px;
font-size:15px;
font-weight:400;
text-transform:capitalize;
color:#dfdfdf;
 padding: 6px 12px;
 border-radius:0;
 border:none;
	}
.newsletter button:hover {
color:#fff;
background:#333;
}
.small-social {
	display:block;
	margin-top:20px;

	}
.small-social a i {
	color:#808080;
	font-size:17px;
	margin-right:10px;
	}
.social {
	margin-top:20px;
	}
.social ul {
    list-style: outside none none;
    padding: 0;
}
.social li {
    display: inline-block;
    padding-bottom: 0.3em;
    padding-right: 0.3em;
}
.social li a {
    color: #FFF;
    display: block;
    height: 38px;
    line-height: 40px;
    transition: all 0.8s ease 0s;
    width: 38px;
	ont-size: 18px;
}
.facebook {
	background:#4968a9;
	}
.twitter {
	background:#11c2ea;
	}
	.linked {
	background:#3f93d3;
	}
	.g-plus {
	background:#ed321e;
	}
	.pintrest {
	background:#ed001c;
	}
.skype {
	background:#11ddea;
	}
.copy {
	text-align:center;
	border-top:solid 1px #ccc;
	margin-top:10px;
	}
.copy p {
	margin-bottom:0;
	line-height:40px;
	}




/*================================= Login register ======================================*/
#middle {
	min-height:500px;
	}
.page-heading {
	background:#eee;
	border-top:solid 1px #e4e4e4;
	margin-bottom:10px;
	}
.page-heading h3 {
	margin-bottom:15px;
	margin-top:15px;
	font-size:15px;
	text-transform:uppercase;
	color:#8f8f8f;
	font-weight:700;
	}
.login-part {
	display:block;
		}

.tab-content {
	border:solid 1px #eee;
	}
.nav-tabs {
	border:none;
	}
.nav-tabs > li.active  {
	border-color:#eee;

	}

.nav-tabs > li > a {
	border-radius:0;
	font-size:16px;
	font-weight:700;
	color:#666666;
	text
	}
.tabcantent {
	padding:25px;
	box-shadow: 0 5px 0 #eee;
	}
.tabcantent h1,.apply-form h1{
text-transform:uppercase;
font-size:25px;
color:#000;
font-weight:700;
margin-bottom:20px;
	}

.form-control {
border-radius:0;
height:40px;
border-color:#cfcfcf;
	}
.forgot a {
    color: #848484;
    display: block;
    font-size: 13px;
    font-weight: 300;
    padding: 7px 0;
    text-align: right;
    text-transform: uppercase;
}

.new-btn {
background:#333;
text-transform:uppercase;
color:#fff !important;
font-weight:700 !important;
font-size:14px;
padding:10px 20px;
border:none;
border-radius:0;
min-width:150px;
	}

.new-btn:hover , .new-btn:focus {
background:#fe9c00;
color:#fff;
}

.apply-form {
	display:block;
	margin-top:50px;
	}
.captcode {
	background:#fafafa !important;
	 border:solid 1px #ccc !important;
	 height:40px !important;
	 border-radius:0px;
	}

.thankyou-message {
	background:#fafafa;
	border:solid 1px #eee;
	padding:15px;
	padding:25px 20px;
	border-radius:5px;
	margin-bottom:30px;
	}
.thankyou-message h4 {
	font-weight:700;
	text-transform:uppercase;
	color:#161616;
	font-size:16px;
	}

.inner-box {
background:#fafafa;
	border:solid 1px #eee;
	display:table;
	 padding: 100px 0;
	display:block;
	}
.effect2 {
    position: relative;
}

.effect2::before, .effect2::after {
    background: #777 none repeat scroll 0 0;
    bottom: 15px;
    box-shadow: 0 15px 10px #777;
    content: "";
    left: 10px;
    max-width: 300px;
    position: absolute;
    top: 80%;
    transform: rotate(-3deg);
    width: 50%;
    z-index: -1;
}
.effect2::after {
    left: auto;
    right: 10px;
    transform: rotate(3deg);
}
.box-1 h1 {
text-transform:uppercase;
font-weight:700;
color:#666666;
font-size:35px;
 text-shadow: 0 1px 0 #fff;
 position:relative;
 top:50%;

	}
.seller-box {
	margin:50px 0;
	}


/*==================== Faq css =========================*/


.down::before {
    color: #000;
    content: "\f105";
     font-size: 13px;
    margin-left: 5px;
	font-weight:700;font-family: 'FontAwesome';
}

.down .collapsed::before {
    color: #000;
        content: "-";
     font-size: 13px;
    margin-left: 5px;
	font-weight:700;
	}
.down {
    color: #444;
    cursor: pointer;
    font-size: 15px;
    outline: medium none;
        padding: 10px 5px;
    text-align: left;
    transition: all 0.4s ease 0s;
    width: 100%;

    border-radius: 0;
	text-transform:uppercase;

}


.down.active, .down:hover {
    background-color: #fafafa;
}


.faq-question {
	display:block;
	}
.faq-question ul {
	list-style:none;
	}

.faq-question ul li {
	border:solid 1px #e1e1e1;
	 margin-top: 6px;
	}
.answer {
	border-top: 1px solid #e1e1e1;
	padding:10px;
	}


.categories2 a:hover,.cat-4:hover {
	opacity:0.8;
	}

.spaort {
	height:275px;
	overflow:hidden;
	}
.categories2,.sport2 {
	margin-bottom:10px;
	}

.cat-banner {
	margin-bottom:20px;
	}


/*======================= Cart css =======================*/
.cart-page h4 {
	color:#666;
	margin-bottom:20px;
	margin-top:0;
	}

tr.CartProduct td {
    padding: 10px 0;
}
tr.CartProduct td {
    text-align: left;
}
tr.CartProduct td:nth-child(2) {
    text-align: left;
}
tr.CartProduct td {
    font-size: 11px;
    font-weight: 600;
    padding: 10px;
    text-transform: uppercase;
}
.CartProductThumb a img, .CartProductThumb a img {
    max-width: 100%;
    width: 80px;
}
.cartTableHeader {
    background: #eee;
}
.CartDescription h4 a, .CartProduct .price {
	font-size:1.3x;
	text-transform:capitalize;
	color:#333;
	}
tr.CartProduct td.delete {
	text-align:center;
	}
.CartProduct {
	border-bottom:solid 1px #e9e9e9;
	}
tr.CartProduct td.delete i{
	text-align:right;
	color:#666;
	font-size:15px;
	}
.continu {
	margin:20px 0;
	text-align:right;
	}

.shipping-detail {
	background:#fafafa;
	margin-top:40px;
	padding:10px 0;
	}
.shipping-detail h2 {
	color:#333;
	text-transform:uppercase;
	font-weight:700;
	}
.cart_totals tr  {
    border-bottom: 1px solid #ebe9eb;
}

.cart_totals tr:last-child {
	border:none;
	}
.cart_totals table th {
    border-left: 0 none;
    border-right: 0 none;
    line-height: 2em;
    padding: 10px 0;
    vertical-align: top;
}
/*======================= Cart end =======================*/

/*======================= checkout css =======================*/
 .panel {
	border-radius:0;
	border-color:#eee;
	box-shadow:none;
	}
 .panel-body {
    padding: 30px 15px;
	 min-height: 255px;
}
.panel h3 {
	text-transform:uppercase;
	color:#666;
	font-size:15px;
	font-weight:700;
	display: inline-block;
	}
.smart-forms .prepend-icon .field-icon {
    left: 0;
}
 .panel-heading {
border-radius:0;
	text-transform:uppercase;
	color:#666;
	font-size:15px;
	font-weight:700;

	}
 .panel-default > .panel-heading {
    background:#fafafa;
padding: 15px 11px;
border-color: #dfdfdf;
color:#666;
}
.last-amt {
	text-align:center;
	}
.last-amt h4, .last-amt h1 {
    color: #666;
    font-weight: 700;
    margin-bottom: 45px;
    margin-top: 20px;
}

.dl-horizontal dt {
	text-align:left;
	}

.shipping-address {
	text-transform:capitalize !important;
	}

/*======================= checkout end =======================*/

/*======================= prev page =======================*/

.product-img {
	display:block;
	}
.product-img img {
	border:solid 1px #eee;
	padding:10px;
	}
.pro-detail {
	display:block;
	}
.btn-gray {
	padding:10px 25px;
	background:#bdc3c7;
	color:#000;
	text-shadow:0 1px 0 #fff;
	font-size:15px;
	font-weight:600;
	margin-top:10px;

	}
.btn-success {
	background:#1abc9c;
	}
.pro-detail .panel-body,.seller-info .panel-body {
	min-height:auto !important;
	padding:10px;
	}
.pro-detail .dl-horizontal {
	margin-bottom:10px;
	}
.label-blue {
	background:#1abc9c;
	 padding: 5px 10px;
	font-size:13px;
	}
.pdp-e-seller-info-score {
	margin:26px 0;
	display:block;

	}
.pdp-e-seller-info-score a {
	color:#666;
	font-size:12px;
	}
.pdp-e-seller-info-score a:hover {
	text-decoration:underline !important;
	}
.new-seller {
	background:#fa6b6b;
	font-size:11px;
	color:#fff;
	padding:1px 5px;
	border-radius:3px;
	margin-left:2px;
	}
.big-descrip {
	display:block;
	margin-top:30px;
	}
.big-descrip .nav-tabs > li.active > a, .big-descrip .nav-tabs > li.active > a:focus, .big-descrip .nav-tabs > li.active > a:hover {
	background:#d7d7d7;
		border-color:#eee;
	}
.big-descrip .nav-tabs > li {
background:#eaeaea;
margin-right:10px;

	}
.big-descrip .tab-des {
background:#eee;
padding:20px;
	}
.big-descrip .tab-content {
	border:none;
	}
.big-descrip .nav-tabs > li > a {
 font-size: 1em;
    text-transform: uppercase;
	}
.bottom-button {
    background: #eee none repeat scroll 0 0;
    margin-top: 20px;
    padding: 10px 0 23px 22px;
}
.feedback {
	display:block;
	margin-top:20px;
	}
.pr-title {
	border-bottom: 1px solid #eee;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
    padding-bottom: 10px;
    text-transform: capitalize;
	color:#646464;
	}
.pr-time {
	display:block;
	}
.pr-time ul {
	list-style:none;
	padding:0;
	margin:0;
	}
.pr-time ul li {
    font-size: 12px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.amount {
	margin:15px 0;
	padding:15px;
	background:#d7d7d7;
	font-size:20px;
	font-weight:700;
	color:#646464;
	}
.flex-viewport li {
	margin:0 2px;
	}
/*======================= prev page end =======================*/



/*======================= dashbord =======================*/

.dashbord {
	display:block;
	}
.dashbord .list-group {
	margin-bottom:0;
	}
.dashbord .panel-body {
	padding:10px;
	}
.dashbord .list-group-item:first-child {
border-top-left-radius: 0px;
    border-top-right-radius: 0px;
	}

.dashbord .list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;

}

.dashbord .list-group-item {
	border:none;
    background-color: #fff;
    border-top: 1px solid #ddd;
    display: block;
    margin-bottom: 0;
    padding: 10px 5px;
    position: relative;

}


.dashbord .list-group-item.active, .dashbord .list-group-item.active:focus, .dashbord .list-group-item.active:hover {
	background:#eee;
	border-color: #ddd;
	color:#666;
    z-index: 2;

}

.dashbord .list-group-item:before {
	content: "\f101";
	color: #666666;
	font-family: Fontawesome;
	font-size: 16px;
	position:relative;
	margin:0 5px;
	}

.inner-detail {
	padding:20px 0;
	}

.dashbord .tab-content {
	border:none;
	}
.dashbord .nav-tabs > li.active > a, .dashbord .nav-tabs > li.active > a:focus, .dashbord .nav-tabs > li.active > a:hover {
background:#eee;
border:none;
	}
.nav-tabs > li {
    margin-bottom: -2px;
}

.modal-content {
	border-radius:0;
	}

.modal-header {
    background: #eee none repeat scroll 0 0;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
}

.modal-title {
	text-align:center;
	font-size:20px;
	color:#5e5e5e;
	font-weight:600;
	text-transform:capitalize;
	}

.add-bid {
	display:block;
	}
.add-bid ul {
	list-style:none;
	padding:0;
	margin:0;
	}
.add-bid ul li {
	display:block;
	padding:10px 0;
	}
.add-bid ul li label {
	font-weight:400;
	padding-top:10px;
	}
.add-bid ul li .part {
	vertical-align:super;
	   line-height: 38px;
	}

.close {
    font-size: 30px;
}

.new-tab {
	display:block;
	}
.new-tab ul {
	list-style:none;
	padding:0;
	margin:0;
	}
.new-tab ul li {
	display:inline-block;
	margin-right:2px;

	}
.new-tab ul li a {
    color: #242424;
    font-size: 15px;
    font-weight: 700;
    line-height: 35px;
    padding: 9px;
    text-transform: uppercase;
}
.new-tab ul li a:hover,.new-tab ul li.active a {
	background:#ddd;
	}
/*======================= dashbord end =======================*/



.map {
	padding:1%;
	box-shadow:0 0 5px #ccc;
	}

.name-store {
	padding:1px 10px;
	margin-bottom:20px;
	}
.name-store h3,.contact-form h3 {
	margin-top:10px;
	border-bottom:solid 1px #ddd;
	text-transform:uppercase;
	font-weight:700;
	padding-bottom: 13px;
	}
.info-contact {
	margin-top:20px;
	}
.info-contact .icon {
    float: left;
    padding-right: 20px;
	margin-right:20px;
	padding-top:0;
}

.info-contact .icon .fa {
    font-size: 20px;
}

.required{
	 margin-top:10px;
	 }
.contact-form h3 {
	margin-bottom:20px;
	}


.breadcrumb {
	background:none;
	}


.breadcrumb li + li::before {
    color: #666;
     content: "\f105";
    font-family: fontawesome;
    padding: 0 10px 0 5px;
}
.breadcrumb > li + li::before {
    color: #666;
     content: "\f105";
    padding: 0 5px;
}

.breadcrumb li a {
    color: #666;
}
.breadcrumb li:last-child a {
    color: #ea3a3c;
}


.small-menu {
	display:block;
	background:#fafafa;
	}
.small-menu a {
	display:block;
	color:
	#666;
	font-size:13px;
	line-height:28px;
	padding-left:10px;
	}
.small-menu a:hover {
	background:#eee;
	}
.small-menu a:before {
    color: #666;
     content: "\f105";
    font-family: fontawesome;
    padding: 0 10px 0 5px;
	}
.menu-list {
display:block;
list-style:none;
	}

.menu-list li a.list-group-item::after {
    color: #666;
     content: "\f107";
    font-family: fontawesome;
    padding: 0 10px 0 5px;
	position: absolute;
    right: 0;
	}
.menu-list li a.list-group-item::before {
	display:none;
	margin-left:10px;
	}
.discount-price {
	display:block;
	padding:5px 0;
color: #141313;
    font-size: 17px;
    font-weight: 600;
	}
.discount-price	s {
	color:#7c7c7c;
	}
.p2-detail .caption {
	display:block;
	padding:5px;
	}
.thumbnail {
	border-radius:0;
	}

.thumbnail:hover {
	box-shadow:0 0 15px #ccc;
	}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

}

.pagination > li > a, .pagination > li > span {
	color:#666;
	}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #fafafa;
    border-color: #ddd;
    color: #666;
    cursor: default;
    z-index: 3;
}

.categories-type {
	display:block;
	}
.categories-type ul {
	list-style:none;
	text-align:center;
	}
.categories-type ul li {
	display:inline-block;
	text-align-last:center;
	padding:2px;
	margin:5px;
	}
.categories-type ul li p {
	text-align:left;
	}
.categories-type ul li:hover {
	opacity:0.9;
	}

.dropdown-menu {
	border-radius:0;
	   margin: -1px 0 0;
	}

.dropdown-menu > li > a {

    font-size: 13px;
    line-height: 30px;
    padding: 3px 20px;
}

.dropdown-menu > li {
  border-bottom: 1px solid #eee;
	}
.dropdown-menu > li:last-child {
	border:none;
	}

.fbsSubtitles {
    color: #4c4c4c;
    font-family: Verdana;
    font-size: x-small;
    font-weight: bold;
    padding-bottom: 7px;
    padding-top: 7px;
  line-height: 14px;
}

.frp {
    background-color: #fff;
    padding: 10px;
}
tr.fbsSmallYukon td {
    padding-bottom: 7px;
    padding-right: 7px;
    padding-top: 7px;
}

.f-review thead{
	background:#eeeeee;
	color:#000;
	font-weight:400;
	}
.f-review thead th {
	font-weight:600;
	font-size:11px;
	}
.f-review tr th	 {
	font-weight:600 !important;
	font-size:11px;
	}
.f-review tr th	img {
	margin-right:5px;
	}
.yellow {
	color:#F1A30F;
	margin-right:2px;
	}
.priod {
	background:#eee;
	width:100%;
	padding:5px;
	border-top:solid 1px #ddd;
	border-bottom:solid 1px #ddd;
	}
.cate-2 {
	border: solid 1px #dfdfdf;
	padding:20px 10px;
	}

.cc2.nav-tabs > li > a {
	border:solid 1px #dfdfdf;
	margin-bottom:1px;
	}
.cc2.nav-tabs > li.active > a, .cc2.nav-tabs > li.active > a:focus, .cc2.nav-tabs > li.active > a:hover {
	border:solid 1px #dfdfdf;
	background:none;
	border-bottom:solid 1px #fff;
	}

.form-horizontal .checkbox, .form-horizontal .radio {
	min-height:auto;
	}



/*========== Buyer information {New Edit} =================*/
.shipping-penal {
	min-height:240px;
	}

.right-my-account-blocks-inner {
	display:block;
	}
.pro-pic {
    background: #e5e5e5 none repeat scroll 0 0;
    border: 5px solid #fafafa;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: #444;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.pro-pic .chang-but input {
    height: 42px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.pro-pic:hover .chang-but {
    opacity: 1;
    transition: all 0.3s ease 0s;
}
.pro-pic .chang-but {
    bottom: 25px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 185px;
}

.pro-pic .chang-but a {
    color: #fff;
    display: inline-block;
    font-weight: 400;
    padding: 11px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 96%;
}

.profile-info {
    position: relative;
	margin-bottom: 20px;
 }
 .profile-info ul {
    list-style: outside none none;
	  margin: 0;
    padding: 0;
}

.profile-info ul li {
    color: #3a3a3a;
    display: block;
    font-family: "Raleway",sans-serif;
    font-size: 12px;
    margin: 1px 0;
    padding: 0;
	border-bottom:solid 1px #fafafa;
}

.profile-info ul li .s-left1 {
    background: rgba(244, 244, 244, 0.6) none repeat scroll 0 0;
    color: #444444;
    font-size: 13px;
    font-weight: normal;
    padding: 10px 0 10px 5px;
/*    text-align: right;*/
display:block;
}

.profile-info ul li .s-right {
    color: #7b7b7b;
    display:block;
    font-size: 13px;
    margin-left: 12px;
    padding: 10px 2px;

}
.my-bts {
    background: #eee none repeat scroll 0 0;
    margin-top: 10px;
    padding: 10px;
}

.my-bts a {
	border-radius:0;
	}
.action a {
	margin:0 5px;
	}
.action a:hover i {
	color:#90D77E !important;
	}

tr.selling-item td  {
    text-align: center;
}

.selling-item .price {
  text-align: center;
	}

.no-record-found {
	text-align:center;
	text-transform:uppercase;
	padding:20px 0;
	border:none;
	background:#eee;
	}

.review {
	display:block;
	padding:10px;
	background:#fff;
	}
.review ul {
	list-style:none;
	padding:0;
	margin:0;
	}
.review ul li {
	display:block;
	margin-bottom:10px;
	}
.commentlist .userimg {
    font-size: 12px;
    line-height: 17px;
	text-align:center;
}

.commentlist .userimg span {
    display: block;
    margin-top: 10px;
}

.reviewUserName {
    display: block;
    font-size: 12px;
    height: 14px;
    line-height: 13px;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.reviewer-imgName {
/*    background: rgba(0, 0, 0, 0) url("/img/snapdeal/qna/Qna_Sprite.png") no-repeat scroll 0 -365px;*/
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 25px;
    height: 55px;
    line-height: 54px;
    margin-top: 0;
    padding-left: 2px;
    text-align: center;
    width: 55px;
}

.text-user {
	border:solid 1px #ddd;
	position:relative;
	}
.user-review {
	padding:20px 20px 0 20px;
	}
.rating {
	display:block;
	padding:5px

	}
.orange {
	color:#1abc9c ;
	}

.LTgray {
	color:#ccc;
	}
.date {
	padding-right:20px;
	}
.head {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    padding-bottom: 8px;
    white-space: pre-wrap;
	color:#000;
}

.grey-div {
    background: #fafafa none repeat scroll 0 0;
    font-size: 11px;
    height: 36px;
    line-height: 36px;
    padding: 0 0 0 34px;
}

.hf-yes, .hf-num {
    border: 1px solid #e9e9e9;
    color: #9e9e9e;
    font-size: 10px;
    line-height: 14px;
    margin-left: 5px !important;
    padding: 1px 8px;
}



.text-user:after, .text-user:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.text-user:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 10px;
	margin-top: -10px;
}
.text-user:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #ddd;
	border-width: 11px;
	margin-top: -11px;
}




	@media (max-width:767px ) {
.vertical-wrapper{
	 visibility: visible !important;
	}
.logo {
	margin-bottom:20px;
	text-align:center;
	}
.search-box {
	margin-bottom:20px;
	}
.carousel-caption {
	top:0% !important;
	}
.carousel-caption h1, .carousel-caption h1 span {
	font-size:2em !important;
	}
.banner-right {
	margin-top:20px;
	}
.title {
	margin-right:0;
	}
.continu {
	text-align:center !important;
	}
.continu a {
	margin-bottom:10px;
	}

.sort-b  {
	display:none;
	}
.nav-tabs > li {
	float:none;
	margin-bottom:1px;
	margin-right:0 !important;
	}
.big-descrip .nav-tabs > li,.nav-tabs > li > a {
	margin-right:0 !important;
	}
.profile-info ul li .s-right {
    margin-left: 0;

}
.userimg {
	text-align:center;
	}
	}

@media (max-width:1200px) {

.top-right {
	text-align:left;
	}

	/*======================== Categories menu =========================*/
.megamenu .navbar-default .vertical .vertical-wrapper {
    max-height: none;
    padding: 0;
    position: static !important;
    transform: translate3d(0px, 0px, 0px);
    visibility: visible;
    width: 100% !important;
}

 .responsive ul.megamenu > li.click:before, .responsive ul.megamenu > li.hover.active:before {
    content: ""; }

  .responsive.so-megamenu .navbar-default .vertical #menuHeading {
    display: block;
    margin: 0; }
  .responsive.so-megamenu .navbar-default .vertical .navbar-header {
    display: none; }
  .responsive.so-megamenu .navbar-default .vertical .vertical-wrapper {
    position: static !important;
    visibility: visible;
    width: 100% !important;
    max-height: none;
    padding: 0;
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px); }
    .responsive.so-megamenu .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.vertical-style3 .content .image-position {
      transform: scale(0.8);
      -moz-transform: scale(0.8);
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8); }
    .responsive.so-megamenu .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu > ul > li ul {
      box-shadow: none; }
      .responsive.so-megamenu .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu > ul > li ul li {
        padding: 5px 0;
        border: none; }
    .responsive.so-megamenu .navbar-default .vertical .vertical-wrapper ul.megamenu > li {
      border-bottom: 1px dotted #eee;
      margin-top: 1px; }
      /*.responsive.so-megamenu .navbar-default .vertical .vertical-wrapper ul.megamenu > li a {
        font-size: 10px; }*/
      .responsive.so-megamenu .navbar-default .vertical .vertical-wrapper ul.megamenu > li a i {
        display: none; }
      .responsive.so-megamenu .navbar-default .vertical .vertical-wrapper ul.megamenu > li.loadmore {
        border: none; }
      .responsive.so-megamenu .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active .close-menu {
        padding: 0;
        width: 49px;
        line-height: 44px; }
        .responsive.so-megamenu .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active .close-menu:before {
          font-size: 12px; }
      .responsive.so-megamenu .navbar-default .vertical .vertical-wrapper ul.megamenu > li.hover:before {
        font-size: 10px;
        color: #444;
        height: 43px;
        line-height: 43px;
        width: 50px;
        background: #eee;
        text-align: center;
        cursor: pointer;
        padding: 0;
        top: 0 !important; }
      .responsive.so-megamenu .navbar-default .vertical .vertical-wrapper ul.megamenu > li.hover:hover:before {
        background: #333;
        color: #fff; }
      .responsive.so-megamenu .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active {
        background: #f8ab16;
        color: #fff; }
        .responsive.so-megamenu .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active .close-menu {
          background: #eee;
          font-size: 10px;
          color: #444; }
	}

	.shopping_cart{
	position:absolute;
	top:100%;
	margin-top:10px;
	border-top-width:3px;
	border-top-style:solid;
	right:0;
	min-width:318px;
	background:#fff;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,.1);
	-o-box-shadow:0 1px 1px rgba(0,0,0,.1);
	-ms-box-shadow:0 1px 1px rgba(0,0,0,.1);
	box-shadow:0 1px 1px rgba(0,0,0,.1);
	-webkit-transform-origin:70% 0 0;
	-moz-transform-origin:70% 0 0;
	-o-transform-origin:70% 0 0;
	-ms-transform-origin:70% 0 0;
	transform-origin:70% 0 0;
	-webkit-transform:scale(0.2) translate(200px,-200px);
	-moz-transform:scale(0.2) translate(200px,-200px);
	-o-transform:scale(0.2) translate(200px,-200px);
	-ms-transform:scale(0.2) translate(200px,-200px);
	transform:scale(0.2) translate(200px,-200px);
	opacity:0;
	visibility: hidden;  z-index: 999;
}ul, ol {
    list-style: outside none none;
}
.shopping_cart:after{
	 content:"";
	 position:absolute;
	 display:block;
	 height:13px;
	 width:100%;
	 margin-top:-13px;
	 left:0;
	 top:0;
}
#cart:hover .shopping_cart{
	-webkit-transform:scale(1) translate(0px,0px);
	-moz-transform:scale(1) translate(0px,0px);
	-o-transform:scale(1) translate(0px,0px);
	-ms-transform:scale(1) translate(0px,0px);
	transform:scale(1) translate(0px,0px);
	opacity:1;
	visibility: visible;
}.shopping_cart .sc_header{
	padding:12px 15px 9px;
}
.shopping_cart:before,.sub_menu_wrap:before{
	top:-11px;
}
#shopping_button{
 z-index:189;
}.products_list li{
	padding:15px;
	line-height:1.2em;
	border-top:1px solid #ecf0f1;
}.site_settings li {
    z-index: 190;
}.clearfix::after {
    clear: both;
    content: "";
    display: block;
}.f_left {
    float: left;
}
.m_right_10 {
    margin-right: 10px;
    width: 70px;
}.product_description {
    width: 205px;
}.m_bottom_5 {
    margin-bottom: 5px;
}
.d_block {
    display: block;
}.f_size_medium {
    font-size: 0.9em;
}.md_no-touch a:hover, .color_dark, .bc_list a[class*="color"]:hover, .bc_list > li.current > a, .tweet_list a {
    color: #292f38;
}.close_product {
    background-color: rgba(0, 0, 0, 0);
    font-weight: 300;
   border: medium none;float: right;
}.total_price{
	padding:12px 20px;
	line-height: 1.2em
}
.sc_price{
	min-width:70px;
}.bg_light_color_1, .sub_menu li:hover > a, .select_list > li:hover, .p_list > li:nth-child(2n+1), .info_block_type_1:hover [class*="icon_wrap"] {
    background: #ecf0f1 none repeat scroll 0 0;
}.t_align_r {
    text-align: right;
}.m_bottom_10 {
    margin-bottom: 10px;
}.sc_price {
    min-width: 70px;
}
.m_left_15 {
    margin-left: 15px;
}
.f_size_large {
    font-size: 1.15em;
}
.d_inline_b {
    display: inline-block;
}.sc_footer {
    padding: 14px 15px 20px;
}.t_align_c {
    text-align: center;
}.button_type_4, .button_type_8 {
    min-width: 123px;
    padding: 8px 15px;
}.bg_light_color_2, .ui-slider-handle {
    background: #e2e6e7 none repeat scroll 0 0;
}.d_inline_middle {
    display: inline-block;
    vertical-align: middle;
}.bg_scheme_color[class*="button_type_"], .bg_dark_color[class*="button_type_"]:hover {
      background: #fe9c00 none repeat scroll 0 0;
    box-shadow: 0 2px 0 #c0392b;
    color: #ffffff;
}[class*="animate_"].fast,.tr_all_hover{
	-webkit-transition:all .4s ease;
	-moz-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
}
.timer-grid { overflow: hidden;    background-color: #fc8727;  float: left;  width: 100%;  color: #fff;  font-size: 18px;  font-family: arial;  font-weight: bold; }
.inner-time{width: 33%; float: left; padding: 5px 15px;   line-height: 20px;}

.timer-grid span.day b ,span.hour b ,span.min b ,span.sec b{   font-size: 18px;
  font-family: Arial;  display: block;    border-bottom: 1px solid #ec4445; }
.timer-grid span.day span, span.hour span, span.min span, span.sec span{
	font-size: 12px;
	font-family: arial;
	border-top: 1px solid #fda531;
	display: block;

}
.timer-view  span.inner-time{  line-height: 25px;  margin-right: 15px; text-align: center; display: inline-block; width: 13%; background-color: #fc8727}
.timer-view  span.inner-time b{  padding-bottom: 5px; font-size: 18px;  font-family: Arial;  display: block;  border-bottom: 2px solid #fda531;}
.timer-view  span.inner-time span{font-size: 12px; color: #fFF;   display: block   ;padding-top: 5px;}

.timer-grid .box-time-date {    font-size: 12px;
  color: #fFF;
  display: block;
  padding: 5px 0;}
.timer-grid .box-time-date.sec { margin-right: 0;border: 0; }
.timer-grid .box-time-date span {    display: block;   color: #fff;    font-weight: 400;    border-bottom: 2px solid #d61313;   margin-bottom: 5px;}
.timer-grid .box-time-date span b{      font-weight: 400;    display: inline-block;    font-size: 18px;    font-family: arial,Regular;}
.ma-timer-container .item-inner { border: 1px solid #e2e2e2; padding: 13px 13px 25px; }
.lis {margin: 5px 0 0; padding: 0;}
.lis li {floaT: left; margin-right: 10px;}
.lis li input {display: inline-block;vertical-align: middle;  margin-right: 5px;  }
.main-mm  {font-size: 18px;
    text-align: center;}
.m1 {text-align: center;margin-bottom: 10px; }
.main-mm  span {font-size: 26px;}
.main-mm a {color: #666666;}
.main-mm a:hover  { color: #fe9c00;}
.seller-box .inner-box {
    padding: 50px 0 90px;
}
.big-descrip .tab-pane {padding: 20px 0; min-height: 250px; bordeR: 1px solid #eee ;}
.short-decx {color: #666666;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    //text-transform: capitalize;
    }


.c-std, .c-std-bb {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 3px;
    box-shadow: 4px 4px 1px #eeeeee;
    margin-bottom: 20px;
    padding: 17px 20px 9px;
}
	div.vi-ds3cont-box-marpad {
    background: #e2e2e2 none repeat scroll 0 0;
    margin-bottom: 0;
    padding: 0;
}.actPanel {
    background-color: #e2e2e2;
}.is .spcr {
    height: 10px;
}
.u-cb {
    clear: both;
}
.u-flL {
    float: left;
}.pdT4 {
    padding-top: 4px;
}.is .lable {
    color: #666666;
    font-size: small;
    font-weight: normal;
    padding-right: 13px;
    text-align: right;
    width: 32%;
    word-wrap: break-word;
}.lable.vi-startingBidAccColorClass {
    color: #575757;
}.is .w29 {
    display: table;
    padding-right: 2px;
    width: 29%;
}
.notranslate {color: #000000;
    font-size: 14px;
    font-weight: bold;}
.u-dspblk {
    display: block;
}
.pdR8 {
    padding-right: 8px;
}
.pdT4 {
    padding-top: 4px;
}
.is .w29 {
    display: table;
     padding-top: 5px;
    width: 35%;
}
.u-b {
    font-weight: bold;
}
#MaxBidId {border: 1px solid #999999; background: #fff;padding: 5px;width: 80%; font-weight:normal;}
.is {margin-bottom: 16px;}
.btn-gray2 {margin-top: 17px;}
.btn-gray1 {padding: 10px 12px !important;}


/****************************** ******************************
   					Blog Page Style CSS
****************************** ******************************/
.hentry {
	background: #fff none repeat scroll 0 0;
	padding: 0 0 3em;
	position: relative;
}
.hentry p:last-child {
	margin-bottom: 0;
}
.content-header {
	border-bottom: 1px solid rgba(204,204,204,0.3);
	margin-bottom: 1em;
	padding-bottom: 10px;
	position: relative;
}
.content-title {
	color: #3b3b3b;
	display: block;
	font-family: "Raleway", sans-serif;
	font-size: 25px;
	font-weight: 700;
	margin-top: 0;
}
.content-title a {
	color: #3b3b3b;
}
.content-title a:hover {
	color: #f09615;
}
.content-meta {
	font-style: italic;
	font-size: 13px;
	color: #3b3b3b;
}
.content-meta::before, .content-meta::after {
	content: " ";
	display: table;
}
.content-meta::after {
	clear: both;
}
.content-meta > span {
	padding-right: 1.07143em;
}
.content-meta > span i {
	padding-right: 5px;
}
.content-meta > span > a {
	white-space: nowrap;
	color: #2e2e2e;
}
.content-featured {
	background: #fff none repeat scroll 0 0;
	margin-bottom: 16px;
	position: relative;
}
.content-thumb {
	display: block;
	position: relative;
}
.content-thumb::before {
	background: #e6b706 none repeat scroll 0 0;
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 100%;
}
.content-featured img {
	height: auto;
	width: 100%;
}
.content-wrap {
	background-color: transparent;
	clear: both;
	display: block;
}
.content, .content-excerpt {
	background: #fff none repeat scroll 0 0;
	padding: 0;
	color: #6d6d6d;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
}
.read-more .btn-info {
	background: #f99f1e none repeat scroll 0 0;
	border: medium none;
	color: #ffffff;
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	font-weight: 600;
	padding: 10px 15px;
	text-transform: capitalize;
}
.read-more .btn-info:hover {
	background: #3e3e3e none repeat scroll 0 0;
}
.read-more .btn-info i {
	margin-left: 10px;
}
.noo-sidebar-wrap {
	background: #fff none repeat scroll 0 0;
	padding: 0;
}
.widget-title {
	color: #44494b;
	line-height: 1.7;
	margin: 0px 0 15px;
	position: relative;
}
.widget .widget-title {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	line-height: normal;
}
.noo-sidebar .widget {
	padding-bottom: 25px;
}
.noo-sidebar .widget:last-child {
	border: none;
	padding-bottom: 0;
}
.widget_search form {
	position: relative;
}
.widget_search form::before {
	color: #b8b8b8;
	content: "\f002";
	cursor: pointer;
	display: inline-block;
	font-family: "FontAwesome";
	height: 50px;
	line-height: 50px;
	position: absolute;
	right: 0;
	text-align: center;
	top: -2px;
	width: 50px;
}
.widget_search #s {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #cccccc;
	box-shadow: none;
	font-style: italic;
	font-weight: 300;
	height: 3em;
	padding-right: 50px;
}
.widget + .widget {
	margin-top: 18px;
}
.widget ul {
	background-color: rgba(235,238,239,0.70);
	border-radius: 5px;
	list-style: outside none none;
	margin-left: 0;
	overflow: hidden;
	padding: 12px 15px;
}
.widget ul li {
	border-bottom: 1px solid rgba(218,221,222,0.60);
	padding: 8px 0;
}
.widget ul li:first-child {
	padding-top: 0;
}
.widget ul li:last-child {
	border-bottom: 0 none;
	padding-bottom: 0;
}
.widget ul li a {
	color: #2e2e2e;
	font-size: 14px;
	font-weight: 600;
}
.widget ul li a:hover {
	color: #df8504;
}
.widget p:last-child, .widget ul:last-child {
	margin-bottom: 0;
}
.widget_categories ul li {
	float: right;
	text-align: right;
	width: 100%;
}
.widget_categories ul li a {
	float: left;
}
.widget.widget_recent_entries li .post-date {
	display: block;
	font-size: 14px;
	font-style: italic;
	font-weight: 300;
	padding: 5px 0 5px 25px;
	position: relative;
}
.widget.widget_recent_entries li .post-date::before {
	content: "\f073";
	font-family: "FontAwesome";
	font-style: normal;
	left: 0;
	position: absolute;
	top: 5px;
}
/****************************** ******************************
   					Blog Detail Page Style CSS
****************************** ******************************/
.comment-section {
	display: block;
}
.comment-section .media {
	margin-bottom: 15px;
	border-bottom: 1px dashed rgba(204,204,204,0.5);
	padding-bottom: 15px;
}
.comment-section .media:last-child {
	border: none;
}
.comment-section .media-heading {
	color: #363636;
	font-size: 14px;
	font-weight: 600;
}
.comment-section .media-heading span {
	color: #b4b4b4;
	float: right;
	font-size: 12px;
	font-weight: 400;
}
.comment-section .media-body p {
	color: #474747;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	margin-top: 3px;
	min-height: 32px;
}
.my-form label {
	font-size: 14px;
	font-weight: 400;
}
.my-form label span {
	color: #F40101;
	font-size: 14px;
}
.my-form .form-control {
	border: 1px solid #e4e4e5;
	border-radius: 0;
	box-shadow: none;
	height: 44px;
}
.my-form .form-control:focus {
	border-color: #525252;
}
.my-form textarea.form-control {
	height: auto;
}
.provider-btn {
	text-align: center;
	padding: 10px 0 20px;
}


/****************************** ******************************
   					Breadcrumbs Style CSS
****************************** ******************************/
.comp-breadcrumbs {
	font-size: 12px;
	position: relative;
	margin: 0 0 10px;
	border-bottom: 1px solid rgba(204,204,204,0.4);
}
.comp-breadcrumbs .bread-crumb {
	list-style: outside none none;
	overflow: hidden;
	padding: 10px 0;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.comp-breadcrumbs .containerBreadcrumb {
	display: inline-block;
	position: relative;
}
.comp-breadcrumbs .bread-crumb a {
	background-color: transparent;
	color: #212121;
	line-height: 18px;
	text-decoration: none;
}
.comp-breadcrumbs .bread-crumb a:hover {
	color: #f09615;
}
.comp-breadcrumbs #breadCrumbWrapper2 > * {
	display: inline;
}
.comp-breadcrumbs #breadCrumbWrapper2 {
	display: inline;
}
.comp-breadcrumbs i.sd-icon {
	color: #b3b3b3;
	font-size: 10px;
	padding: 0 3px;
} .wp-awesome-recent-posts-thumbnail {
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
}
.wp-awesome-recent-posts-thumbnail a {
    border-bottom: 0 none !important;
    font-size: 13px !important;
    font-weight: 400;
    margin: 0 !important;
    padding: 0 !important;
}
.wp-awesome-recent-posts-thumbnail img {
    border: 2px solid #ffffff;
    border-radius: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    height: 40px;
    width: 40px;
}
.wp-awesome-recent-posts .posted-date-and-author {
    display: block;
    font-style: italic;
    width: 100%;
}
.posted-date-and-author {display: block;}
.thumbnail .caption p {height: 32px;}
.thumbnail .caption p a{color:#666;}
/*.thumbnail img {height: 125px!important;}*/
.bread-crumb .fa, .bread-crumb div{display: inline-block!important; float: none!important;}
.no-record {text-align: center; font-size: 20px; font-weight: bold; margin-bottom: 20px;border-top:1px solid #ecf0f1;padding-top: 20px;}
.products-list .owl-item p {height: 35px;}

.drafts {
display:block;
}
.drafts ul {
list-style:none;

}
.drafts ul li {
  border-bottom: 1px dashed #dfdfdf;
    display: block;
    padding: 10px 0;

}
.d-list {
display:block;
font-weight:bold;
text-transform:uppercase;
}
.d-list span {
background: #eee none repeat scroll 0 0;
border-radius: 50%;
color: #333;
display: inline-block;
font-size: 20px;
font-weight: 700;
height: 40px;
line-height: 40px;
margin-right: 10px;
text-align: center;
vertical-align: sub;
width: 40px;
position:relative;
text-shadow: 0 2px 0 #fff;
}
.dd-des {
display:block;
}


.d-list span::before {
border-bottom: 14px solid transparent;
border-right: 14px solid #eee;
border-top: 14px solid transparent;
content: "";
display: block;
height: 0;
position: absolute;
right: -9px;
top: 6px;
transform: rotate(180deg);
width: 0;
}
.listing-type h5 {  border-bottom: 1px solid #eee;
    margin: 0;
    padding: 7px 0;}

	.search-box .btn.btn-default{  padding: 12px 12px 11px;}

. pdp-e-seller-info-score span {
	text-transform:capitalize !important;
	}
.label-blue {
	color:#fff !important;
	font-weight:bold;
	}
/*.sub-menu {
    width: 100%!important;
}*/

.hover-menu {
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 11px;
}
.sub-menu .m-category {  color: #444;
    height: 26px;
    line-height: 26px;

	 max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; display:block}
	.sub-menu .subcategory { max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; display:block}
	.hover-menu a::before { content: ""!important;}
	.sub-menu .subcategory {
    color: #444;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
}
.sub-menu .subcategory:hover, .sub-menu .m-category:hover{color: #fe9c00;}
.f-about img {margin: 15px 0;}
.sort-b {float: right; margin: 10px 0;}
.lis section {display: inline-block;}
.ss {display: inline-block;}
.close {line-height: 15px;}
.add-bl {position: absolute; width:100%; height: 100%; left: 0; top: 0; background:rgba(0,0,0,0.6); text-align:center; color:#fff;}
.add-bl p {   color: #fff;
    font-size: 18px;
    padding: 65px 10px 10px;}
	.add-bl a {font-size: 60px; color:#1abc9c;}
	.add-bl a:hover {color:#fff;}
	.categories-m {
    margin: 0px 5px 10px;
    overflow: hidden;
    }


	.categories-m { -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;}
	.sieve .col-sm-4 {    box-sizing: border-box;
    display: inline-block; float: none; width: auto;}

	@media only screen and (min-width: 700px) {
    .hover-menu .menu  {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 900px) {
   .hover-menu .menu  {
       -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 1100px) {
.hover-menu .menu  {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}
.m-category {text-transform:uppercase; color:#000; font-weight:600;}


.mdiv {
    height: 200px;
	    overflow: hidden;
	}
.img-part {
    display: table-cell;
height: 170px;
    vertical-align: middle;
    width: 300px;
}

.smart-forms label {
	margin-bottom:10px !important;
	}
