@import url(icons/themify-icons/themify-icons.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html { font-size: 100%; height: 100%; min-height: 100%; position: relative;}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary, title { display: block }
body { background: #f3f5f9; box-sizing: border-box; font-family: 'Roboto', sans-serif; font-size: 14px; font-style: normal; font-weight: normal; color:#333; line-height: 20px; margin: 0px; overflow-x: hidden; height: 100%;}
dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img { border: 0 }
ol, ul { list-style: none }
sub, sup { position: relative; font-size: 75%; line-height: 0; vertical-align: baseline; }
sup { top: -0.5em }
sub { bottom: -0.25em }
/*a img { border: 0; display: block }*/
a:active, a:focus, a:hover, input[type="image"], select:focus, input, input[type="button"]:focus, :focus { outline: 0; text-decoration: none; }
.clearfix { *zoom:1
}
.form-control:focus{ box-shadow:none;}
a { color: #2a2a2a; transition: all 0.3s ease-in-out 0s; cursor: pointer; }
a:hover { transition: all 0.3s ease-in-out 0s; color: #fff; }
p { margin-bottom: 10px; }
img { max-width: 100%; }
label{ color: #24aeb1; font-size: 14px; margin-bottom: 8px;}
.form-control{ border-color: #e3e3e3; color: #333; font-size: 14px; height:46px;}
.clearfix:after { clear: both; }
.clear { clear: both }
.btn { outline: 0px; }
.lists { list-style: none; margin: 0px; padding: 0px; }
a, button{ transition: all 0.3s ease-in-out;}
select{ -webkit-appearance: none; -moz-appearance: none;}
select::-ms-expand { display: none; }
/* Header */
a:focus { outline: none !important;}
button:focus{ outline:0px;}
.pad_0{  padding:0px;}
.mgn_0{ margin:0px;}
.mt_20{ margin-top: 20px; }
.mb_10{ margin-bottom: 10px; }
p{ margin-bottom: 0px;}
.pl_5{ padding-left: 50px;}
select.form-control{ width: 100%; background-image:url(../images/select-arrow1.png); background-color:transparent; background-position:right 15px center; background-repeat:no-repeat;}

/**** custom ckeckbox rario ****/
[type="radio"]:checked, [type="radio"]:not(:checked) { position: absolute; left: -9999px;}
[type="radio"]:checked + label, [type="radio"]:not(:checked) + label { position: relative; padding-left: 25px; cursor: pointer; line-height: 24px; display: inline-block; color: #333; font-size: 14px; font-weight: 400; margin-bottom: 0px;}
[type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before { content: ''; position: absolute; left: 0; top: 3px; width: 16px; height: 16px; border: 1px solid #c4c4c4; border-radius: 100%; background: #fff;}
[type="radio"]:checked + label:before{  border-color:#24aeb1;}
[type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after { content: ''; width: 8px; height: 8px; background: #24aeb1; position: absolute; top: 7px; left: 4px; border-radius: 100%; webkit-transition: all 0.2s ease; transition: all 0.2s ease;}
[type="radio"]:not(:checked) + label:after { opacity: 0; -webkit-transform: scale(0); transform: scale(0);}
[type="radio"]:checked + label:after { opacity: 1; -webkit-transform: scale(1); transform: scale(1);}
[type="checkbox"]:checked, [type="checkbox"]:not(:checked) { position: absolute; left: -9999px;}
[type="checkbox"]:checked + label, [type="checkbox"]:not(:checked) + label { position: relative; padding-left: 25px; cursor: pointer; line-height: 20px; display: inline-block; color: #333; font-weight: 400; font-size: 14px; margin-bottom: 0px;}
[type="checkbox"]:checked + label:before, [type="checkbox"]:not(:checked) + label:before { content: ''; position: absolute; left: 0; top: 0; width: 16px; height: 16px; border: 1px solid #d8d8d8; background: #f3f3f3;}
[type="checkbox"]:checked + label:after, [type="checkbox"]:not(:checked) + label:after { content: ''; width: 5px; height: 10px; border: solid #333; border-width: 0 1px 1px 0; position: absolute; top: 2px; left: 6px; transform: rotate(45deg); webkit-transition: all 0.2s ease; transition: all 0.2s ease;}
[type="checkbox"]:not(:checked) + label:after { opacity: 0; }
[type="checkbox"]:checked + label:after { opacity: 1;}
.form-control:focus { border-color: #cecece; box-shadow: none;}
textarea{ resize: none; }
/**** custome ckeckbox rario close ****/
.container-fluid{ padding: 0px 50px; }

header{ background :#fff;}
.header_top{ background: #24aeb1; color: #fff; padding:8px 0px;}
.left_txt ul li{ display: inline-block; line-height: 16px; padding-right: 15px; border-right: 1px solid #b0e7e8;}
.left_txt ul li:last-child{ border:none; margin-left: 15px;}
.left_txt ul li a{ font-size: 14px; color: #fff;}
.left_txt ul li a i{ margin-right: 5px; position: relative; top: 2px;}
.right_txt{ display: flex; justify-content: flex-end;}
.right_txt ul li{ display: inline-block; line-height: 16px; padding-right: 15px; padding-left: 15px; border-right: 1px solid #b0e7e8;}
.right_txt ul li:last-child{ border:none; padding-right: 0px;}
.right_txt ul li a{ font-size: 14px; color: #fff;}

.header_btm{ padding: 15px 0px;}
.header_right_top {	display: flex;}
.search_blk{ width: 100%; max-width:50%; display: flex; align-items: center;}
.pincode_blk{ width: 125px; height: 48px; border-radius: 3px 0px 0px 3px; line-height: 17px; background: url(../images/pin.png) no-repeat 11% 50% #f3f5f9; padding: 6px 0px 6px 42px; position: relative;}
.pincode_blk span{ display:inline-block; font-size: 12px; color: #777;}
.pincode_blk input{ width: 74px; border: 0px; background: none; color: #1a1a1a; font-size: 14px; font-weight: 500;}
.pincode_blk button{ width: 10px; height: 10px; border: 0px; background: url(../images/edit.png) no-repeat 0px 0px; background-size: 10px; position: absolute; bottom: 11px; right: 17px;}
.search_bar{ width: calc(100% - 130px); height: 48px; margin-left: 3px; position: relative;}
.search_bar input{ width: 100%; height: 48px; border: 0px; background: #f3f5f9; padding: 8px 45px 8px 15px;}
.search_bar button{ width: 45px; height: 48px; border: 0px; background: url(../images/search.png) no-repeat center center; background-size: 16px; position: absolute; right: 0px; top: 0px;}
.upload_blk{ max-width: 190px; background: #24aeb1; border-radius: 3px; color: #fff; height: 48px; margin-left: 10px; padding: 5px 15px;}
.upload_blk a{ color: #fff; font-weight: 500;}
.upload_blk a i{ font-size: 10px;}

.user_info{ display: flex; align-items: center; margin-left:auto;}
.user_info ul li{ display: inline-block; font-size: 14px; font-weight: 500; margin-left: 30px;}
.user_info ul li i{ font-size: 16px; margin-right: 2px;}
.user_info ul li a{ color: #2a2a2a;}
.user_info ul li a:hover{ color: #24aeb1;}
.user_info ul li:last-child{ font-size: 15px; position: relative;}
span.qty{ width: 14px; height: 14px; border-radius: 100%; background: red; color: #fff; font-size: 11px; line-height: 13px; position: absolute; left: 7px; top:-6px; text-align: center;}

.header_right_btm .navbar{ padding: 18px 0px 5px;}
.header_right_btm .navbar .nav-item{ font-size: 15px; font-weight: 500; margin-right: 50px;}
.header_right_btm .navbar .nav-link{ color: #2a2a2a; padding:0px;}
.header_right_btm .navbar .nav-link:hover{ color: #24aeb1;}

.main_navigation{ background: #f3f5f9; border-top: 1px solid #eee; border-bottom: 1px solid #eee; box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1); padding:10px 0px;}
.explore_menus{ width:100%; max-width: 1024px; margin: auto;}
.explore_menus ul{ display: flex; justify-content: space-between;}
.explore_menus ul li{ display: inline-block; font-size: 14px; font-weight: 500;  line-height: 18px; padding: 3px 0px 0px 50px; position: relative;}
.explore_menus ul li i{ position: absolute; left: 0px; top: 0px;}
.explore_menus ul li a{ color: #2a2a2a;}
.explore_menus ul li small{ font-size: 13px; display: block; color: #888;}

.banner_blk{ position: relative;}
.banner_blk .slick-arrow{ width:40px; height:40px; border-radius:3px; background:rgba(0,0,0,0.3); border:none; color: #fff; font-size: 22px; position:absolute; top:48%; text-align:center; z-index: 1;}
.banner_blk .prev.slick-arrow{ left:20px;}
.banner_blk .next.slick-arrow{ right:20px;}
.banner_blk .slick-arrow:hover{ background: rgba(0,0,0,0.55);}

.feature_blk{ background: #fff; box-shadow: 0 1px 2px rgb(0 0 0 / 6%); border-radius: 5px; margin-top: -15px; padding: 25px 15px; position: relative;}
.feature_blk ul{ display: flex; justify-content: space-between;}
.feature_blk ul li{ display: inline-block; font-size: 14px; font-weight: 500; padding: 4px 0px 0px 63px; position: relative;}
.feature_blk ul li i{ position: absolute; left: 0px; top: 0px; }
.feature_blk ul li a{ color: #2a2a2a;}
.feature_blk ul li small{ font-size: 14px; display: block; color: #888;}

.middle_section{ background: #f3f5f9;}
.cmn_blk{ background: #fff; border-radius: 5px; box-shadow: 0 1px 2px rgb(0 0 0 / 6%); margin-top: 40px; padding: 30px 20px; position: relative;}
.title_blk{ margin-bottom: 25px; position: relative;}
.title_blk h2{ font-size: 26px; font-weight: 600;}
.slider .slick-arrow{ width: 38px; height: 38px; background:#f3f5f9; border-radius: 100%; color: #2a2a2a; font-size: 22px; line-height: 38px; position: absolute; right: 0px; top: -59px;}
.slider .slick-arrow.wht{ background: #fff;}
.slider .slick-prev{ right: 50px;}
.slider .slick-arrow:hover { background: #ecedf0;}

.timer{ background: #24aeb1; border-radius:50px; color: #fff; font-size: 16px; font-weight: 500; padding: 8px 25px; position: absolute; left: 200px; top: -2px;}
.product_blk .slick-list{ margin: 0px -10px;}
.product_blk .slick-slide{ padding: 5px 0px 7px;}
.product_card{ background: #fff; box-shadow: 0 0px 4px rgb(0 0 0 / 10%); margin:0px 10px; padding: 15px 15px 20px; position: relative; transition: all 0.3s ease-in-out;}
.product_card:hover{ box-shadow: 0px 1px 5px 1px rgb(0 0 0 / 8%)}
.product_img{ width: 180px; margin:0px auto 15px;}
.product_info small{ font-size: 13px; color: #888;}
.product_info h3{ font-size: 16px; color: #2a2a2a; font-weight: 500; line-height: 22px; margin-bottom: 0px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.product_info h3 a:hover{ color: #24aeb1;}
.rating_blk ul li{ display:inline-block;}
.rating_blk ul li a.active{ color: #f58d06;}
.price_blk{ display: flex; justify-content: space-between; margin-top:0px;}
.price_blk h4{ font-size: 16px; font-weight: 500; line-height: 34px; margin: 0px;}
.strike{ font-size: 14px; font-weight: normal; color: #999; text-decoration: line-through;}
.product_info button{ background: transparent; border:0px; color: #24aeb1; font-size: 13px; font-weight: 500; line-height: 28px; margin-top: 5px; padding:0px 0px 0px 38px; position: relative; text-transform: uppercase;}
.product_info button i{ width: 30px; height: 30px; display: inline-block; border-radius: 100%; background: #24aeb1; color: #fff; font-size: 15px; line-height: 30px; margin-right: 5px; position: absolute; left: 0px; top: 0px; transition: all 0.3s ease-in-out;}
.product_info button:hover{ color: #333;}
.product_info button:hover i{ background: #333;}
.add_fav{ width: 30px; height: 30px; background: #f3f5f9; border-radius: 100%; line-height: 32px; text-align: center; position: absolute; right: 8px; top: 8px; transition: all 0.3s ease-in-out;}
.add_fav a{ display: block; color: #888; transition: all 0.3s ease-in-out;}
.add_fav a i{ transition: all 0.3s ease-in-out;}
.add_fav:hover{ background: #24aeb1;}
.add_fav:hover i{ color: #fff;}

.category_content .slick-list{ margin: 0px -10px;}
.category_content .slick-slide{ padding: 5px 0px;}
.category_info{ border-radius: 4px; margin:0px 10px; overflow: hidden; text-align: center;}
.category_info:hover a{ color: #24aeb1;}
.category_img { border: 1px solid #eaeaea;}
.category_name{ font-size: 16px; font-weight: 500; margin-top: 15px;}

.offers_blk{ margin-top: 40px; position: relative;}
.offer_content .slick-list{ margin: 0px -10px;}
.offer_content .slick-slide{ padding: 2px 0px 7px;}
.offer_img{ border-radius: 4px; border: 5px solid #fff; box-shadow: 0 1px 2px rgb(0 0 0 / 6%); margin:0px 10px; overflow: hidden; text-align: center;}
.offer_img:hover{ box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.1);}

.brand_blk{ margin-top: 40px; position: relative;}
.brand_content .slick-list{ margin: 0px -10px;}
.brand_content .slick-slide{ padding: 2px 0px 40px;}
.brand_info{ margin:0px 10px; position: relative;}
.brand_img{ border-radius: 4px; border: 5px solid #fff; box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.08); overflow: hidden; text-align: center; transition: all 0.3s ease-in-out;}
.brand_txt{ width: 80%; background: #fff; box-shadow: 0 1px 3px rgb(0 0 0 / 6%); position: absolute; left: 0px; right: 0px; margin: auto; bottom: -30px; padding: 15px; text-align: center;}
.brand_txt h3{ font-size: 16px;}
.brand_img img{ transition: all 0.3s ease-in-out;}
.brand_info:hover .brand_img{ box-shadow: 0 1px 2px rgb(0 0 0 / 6%);}
.brand_info:hover .brand_img img{ transform: scale(1.1);}
.brand_info:hover h3 a{ color: #24aeb1;}

.blog_content .slick-list{ margin: 0px -10px;}
.blog_content .slick-slide{ padding: 5px 0px;}
.blog_info{ margin:0px 10px;}
.blog_img{ border-radius: 4px; margin-bottom: 15px; overflow: hidden;}
.blog_txt small{ font-size: 14px; display: block; color: #888; margin-bottom: 5px;}
.blog_txt h3{ font-size: 18px; font-weight: 500; line-height: 22px; margin-bottom: 15px;}
.blog_txt a{ background: transparent; border:0px; color: #24aeb1; display: inline-block; font-size: 13px; font-weight: 500; line-height: 28px; margin-top: 0px; padding:0px 0px 0px 38px; position: relative; text-transform: uppercase;}
.blog_txt a i{ width: 30px; height: 30px; display: inline-block; border-radius: 100%; background: #24aeb1; color: #fff; font-size: 15px; line-height: 30px; margin-right: 5px; position: absolute; left: 0px; top: 0px; transition: all 0.3s ease-in-out; text-align: center;}
.blog_txt a:hover{ color: #333;}
.blog_txt a:hover i{ background: #333;}

.achivemnt_txt{ text-align: center; padding: 0px 15px 5px;}
.achivemnt_txt i{ display: block; margin-bottom: 15px;}
.achivemnt_txt h2{ font-size: 30px; font-weight: 600; margin-bottom: 5px;}
.achivemnt_txt h3 { font-size: 16px; font-weight: 400; color: #888;}

.testimonial_content .slick-list{ margin: 0px -10px;}
.testimonial_content .slick-slide{ padding: 5px 0px;}
.testimonial_info{ background: #fff; box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.08); margin:0px 10px; padding: 25px 15px; position: relative; transition: all 0.3s ease-in-out;}
.testimonial_info .rating_blk{ margin-bottom: 10px;}
.testimonial_info p{ margin-bottom: 15px;}
.profile_box { display: flex; align-items: center; padding-top: 10px;}
.profile_img { width: 60px; height: 60px; background: #fff; border: 3px solid rgba(0,0,0,0.15); border-radius: 50%; min-width: 60px; margin-right: 10px; overflow: hidden;}
.profile_name h3 { font-size: 15px; font-weight: 500;}
.profile_name span { font-size: 14px; font-weight: 400; color: #888;}

.newsletter_blk{ padding: 70px 0px;}
.newsletter_content{ max-width: 600px; margin: auto; text-align: center; position: relative;}
.newsletter_content::after{ width: 100px; height: 100px; content:url(../images/newsletter.png); position: absolute; right: 0px; top: -10px;}
.newsletter_content h2{ font-size: 26px; font-weight: 500; margin-bottom: 15px;}
.newsletter_content p{ font-size: 15px; color: #888; line-height: 20px; margin-bottom: 40px;}
.newsletter_form{ background: #fff; border: 2px solid #e6e6e6; border-radius: 25px; display: flex; padding: 2px;}
.newsletter_form input{ background:transparent; border: 0px; border-radius: 25px;}
.newsletter_form button{ background: #24aeb1; border: 0px; border-radius: 25px; color: #fff; font-weight: 500; padding: 5px 20px; text-transform: uppercase;}
.newsletter_form button:hover{ background: #333; color: #fff;}

.footer_top{ background: #fff; border-bottom: 1px solid #e5e5e5; padding: 35px 0px;}
.footer_section{ max-width: 1170px; margin: auto;}
.company_info { display: flex; align-items: center;}
.info_icon { width:70px; height:70px; background:#fff; border:2px solid rgba(0,0,0,0.07); border-radius:50%; font-size:36px; line-height:70px; min-width:60px; margin-right:15px; overflow:hidden; text-align:center;}
.info_txt h2 { font-size: 16px; font-weight: 500; margin-bottom: 8px;}
.info_txt h3 { font-size: 20px; font-weight: 600; color: #24aeb1; margin-bottom: 8px;}
.info_txt p{ line-height: 18px;}
.downld_txt h4{ font-size: 22px; margin-bottom: 10px;}
.downld_txt a{ margin-right: 10px; }

.footer_mdl{ background: #fff; border-bottom: 1px solid #e5e5e5; padding: 50px 0px 45px;}
.footer_logo{ margin-bottom: 20px;}
.footer_txt h2 { font-size: 17px; font-weight: 500; margin-bottom: 20px; text-transform: uppercase;}
.footer_txt ul li{ font-size: 14px; margin-bottom:10px; position: relative; padding-left: 15px;}
.footer_txt ul li i{ font-size: 10px; position: absolute; left: 0px; top: 4px;}
.footer_txt ul li a:hover{ color: #24aeb1;}
.footer_txt p{ font-size: 15px; line-height: 24px;}
.footer_txt ul.social li{ padding-left: 0px; margin-bottom: 11px;}
.footer_txt ul.social li i{ width: 25px; height: 25px; border-radius: 100%; color: #fff; font-size: 13px; line-height: 25px; margin-right: 3px; position:relative; top: 0px; text-align: center;}
.footer_txt ul.social li a.facebook i{ background: #3b5998;}
.footer_txt ul.social li a.twitter i{ background: #1da1f2;}
.footer_txt ul.social li a.instagram i{ background: #e14b92;}
.footer_txt ul.social li a.linkedin i{ background: #0077b5;}
.footer_txt ul.social li a.youtube i{ background: #fe2e3c;}

.copyright_blk{ background: #f3f5f9; color: #6e7074; padding: 15px 0px; text-align: center;}

.p_30{ padding: 30px 0px 50px;}
.breadcrumb_blk .breadcrumb{ background: none; padding: 0px;}
.breadcrumb_blk li a:hover{ color: #24aeb1;}
.category_filter_blk{ background: #fff; box-shadow: 0 1px 3px rgb(0 0 0 / 6%); margin-bottom: 20px;}
.category_filter_blk h2{ font-size: 18px; font-weight: 500; border-bottom: 1px solid #ececec; padding: 17px 15px;}
.category_filter_blk .card{ border: none; border-top: 1px solid #f5f5f5;}
.category_filter_blk .card:first-child{ border-top: 0px;}
.category_filter_blk .card-header{ background: none; border-bottom: 0px; margin-bottom:0px; padding: 10px 15px;}
.category_filter_blk .card-header h3 a{ display: block; font-size: 15px; line-height: 26px;}
.category_filter_blk .card-header h3 a i{ font-size: 10px; margin-right: 3px; position: relative; top: -1px;}
.category_filter_blk .card-body{ background: #f9f9f9; padding: 10px 30px;}
.category_filter_blk .card-body ul li{ padding:7px 0px;}
.category_filter_blk .card-body ul li:last-child{ margin-bottom: 0px;}
.category_filter_blk .card-body ul li a:hover{ color: #24aeb1;}

.filter_detail_blk{ padding:20px 15px;}
.filter_blk{ margin-bottom: 20px;}
.filter_blk h3{ font-size: 16px; font-weight: 500; margin-bottom: 12px;}
.filter_blk input{ background: #f5f5f5; border-color: #eaeaea; font-size: 14px; height: 36px; margin-bottom: 15px;}
.filter_blk ul{ max-height: 225px; overflow-y: auto;}
.filter_blk ul li{ padding:6px 0px;}

.listing_bnr{ margin-bottom: 30px;}
.product_view{ border-bottom: 1px solid #ececec; display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; padding-bottom: 20px;}
.product_view p span{ font-weight: 500;}

.custom-slct { background:#fff; box-shadow: 0px 0px 1px 0px #d7d7d7; cursor:pointer; padding:10px 15px; position:relative; width:210px; z-index:3;}
.custom-slct::after { border-color:#2a2a2a transparent; border-style:solid; border-width:5px 5px 0; content:""; height:0; margin-top:-4px; position:absolute; right:1rem; top:50%; width:0;}
.custom-slct .listing { background:#fff; display:none; left:0; list-style:none; margin-top:0; opacity:0; padding-left:0; pointer-events:none; position:absolute; right:0; top:100%; z-index:2;}
.custom-slct .listing li{ border-top: 1px solid #f5f5f5;}
.custom-slct .listing li a { display:block; padding:6px 15px; text-decoration:none;}
.custom-slct.active .listing { box-shadow: 0px 1px 1px 0px #d7d7d7; display:block; opacity:1; pointer-events:auto;}

.product_listing .product_card{ box-shadow: 0 1px 3px rgb(0 0 0 / 6%); margin:0px 0px 20px;}
.product_listing .product_card:hover{ box-shadow: 0px 1px 4px 1px rgb(0 0 0 / 6%)}
.pagination_blk{ margin-top: 10px;}
.pagination>li { margin: 0px 3px 0px 0px;}
.pagination>li>a, .pagination>li>span { padding: 10px 13px; color: #2a2a2a; border: none; border-radius: 2px;}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{ color: #fff; background-color: #24aeb1;}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus { color: #fff; background-color: #24aeb1;}

.product_detail_top.cmn_blk { padding: 50px 25px; margin-top: 0px;}
.product_detail_img{ display: flex; justify-content: center;}
.product_detail_img .slider .slick-arrow{ font-size: 14px; left: 0px; right: 0px; margin:auto; top: 0px;}
.product_detail_img .slider .slick-next{ bottom: 0px; top: auto;}

.product_detail_img .slider-nav{ width: 20%; display: flex; align-items: center;}
.detail_img{ border:1px solid #eee; margin-bottom: 5px;}
.product_detail_img .slider-for{ width: 78%; margin-left: auto;}

.product_detail_txt h2{ font-size: 20px; font-weight: 500; line-height: 24px; margin-bottom: 7px;}
.product_detail_txt .rating_blk{ margin:10px 0px 15px; }
.product_detail_txt .rating_blk ul li span{ color: #888;}
.product_detail_txt .categry small{ background: #f3f5f9; color: #888; padding: 3px 5px; margin-right: 5px;}
.prodct_price_blk h3{ display: inline-block; font-size: 22px; font-weight: 500;}
.prodct_price_blk span{ font-size: 16px; font-weight: 400; margin-left: 5px;}
.prodct_price_blk small{ background: #edf9ee; font-size: 15px; color: #1aab2a; padding: 2px 5px;}
.product_detail_txt .tax{ font-size: 13px; color: #888;}
.prodct_info ul li{ padding:2px 0px;}
.prodct_info ul li span{ color: #888;}
.prodct_highlits{ margin:15px 0px 17px 0px;}
.prodct_highlits h3{ font-size: 16px; font-weight: 500; margin-bottom: 3px;}
.prodct_highlits ul li{ padding:3px 0px 3px 15px; position: relative;}
.prodct_highlits ul li::before{ width: 6px; height: 6px; content:''; background: #555; border-radius: 100%; position: absolute;left: 0px; top: 10px;}
.add_cart{ display: flex; align-items: center; margin-bottom: 15px;}
.add_cart button{ margin-right: 25px;}
.add_cart button i{ margin-right: 3px;}
.add_cart a{ font-size: 18px;}
.add_cart a:hover{ color: #24aeb1;}

.offer_info h3{ font-size: 16px; font-weight: 500; margin-bottom: 8px;}
.offer_detail{ background: #f3f5f9; padding: 15px 20px 15px 55px; position: relative;}
.offer_detail i{ width: 30px; height: 30px; background: #fff; border-radius: 100%; color: #24aeb1; font-size: 16px; line-height: 30px; position: absolute; left: 15px; top: 15px; text-align: center; transform: rotate(45deg);}
.offer_info h4{ font-size: 15px; font-weight: 500; margin-bottom: 5px;}
.offer_info h4 span{ font-size: 12px; color: #378f30; font-weight: 400; margin-left: 5px;}

.resp-tabs-container{ box-shadow: 0 1px 3px rgb(0 0 0 / 6%); border-radius: 0px 0px 5px 5px;}
.product_detail_btm{ margin-top: 40px;}
.product_detail_btm .resp-tab-content{ padding: 20px;}
.product_detail_btm .resp-tab-content p{ line-height: 24px; margin-bottom: 20px;}
.product_detail_btm .resp-tab-content p span{ font-weight: 500;}
.product_detail_btm .resp-tab-content ul li{ padding:5px 0px 5px 15px; position: relative;}
.product_detail_btm .resp-tab-content ul li::before{ width: 6px; height: 6px; content:''; background: #555; border-radius: 100%; position: absolute;left: 0px; top: 13px;}

.question_blk h2{ font-size: 18px; font-weight: 500; margin-bottom: 20px;}
.faq_content .card{ background-color: #f9f9f9; border-radius:3px; border: 1px solid #f0f0f0; margin-bottom:10px;}
.faq_content .card-header{ border:0px; background-color:transparent; padding:0px;}
.faq_content .card-header a{ font-size: 15px; font-weight: 500; color:#2a2a2a; display: block; padding:14px 30px 14px 35px; text-align: left; position:relative;}
.faq_content .card-header a:before{ width:6px; height:6px; content:""; background:#2a2a2a; border-radius:100%; position:absolute; left:20px; top:21px;}
.faq_content .card-header a:hover, .faq_content .card-header a:focus{ box-shadow:none; text-decoration:none;}
.faq_content .card-header a:after{ font-size:11px; position:absolute; right:15px; top:13px;}
.faq_content .card-header a[aria-expanded="true"]:after { font-family: 'themify'; content: "\e646"; vertical-align: middle; transition: all 0.2s ease-in; display: inline-block;}
.faq_content .card-header a[aria-expanded="false"]:after { font-family: 'themify'; content: "\e646"; transform: rotate(45deg); vertical-align: middle; transition: all 0.2s ease-in;
  display: inline-block;}
.faq_content .card-body{ border-top:1px solid #f0f0f0; background: #fff; padding: 15px 20px;}
.faq_content .card-body p{ font-size: 14px; line-height: 22px; margin-bottom: 8px;}
.faq_content .card-body p:last-child{ margin-bottom: 0px;}
.faq_content .card-body p span{ font-weight: 500;}

.profile_box_detail { background: #fff; border-radius: 5px; box-shadow: 0 1px 2px rgba(0,0,0,.06); padding: 15px 20px; margin: 0 0 15px;}
.user_profile_box { display: flex; align-items: center; padding-bottom: 0px;}
.user_profile_img { width: 68px; height: 68px; background: #ccc; border: 3px solid #eaeaea; border-radius: 50%; min-width: 68px; margin-right: 15px; overflow: hidden;}
.user_profile_name h2 { font-size: 18px; font-weight: 500; margin-bottom: 5px;}
.user_profile_name span { color: #888; line-height: 20px;}
.profile_menu { background: #fff; border-radius: 5px; box-shadow: 0 1px 2px rgba(0,0,0,.06);}
.profile_menu ul li { font-size: 14px; border-bottom: solid 1px #f2f2f2;}
.profile_menu ul li a { color: #333; display: flex; align-items: center; padding: 15px 20px;}
.profile_menu ul li a i { width: 30px; color: #888; font-size: 15px; display: inline-flex; text-align: center; transition: all 0.2s ease-in;}
.profile_menu ul li a i:first-child{ width: 30px; display: inline-flex; text-align: center; height: 30px; background: #f3f5f9; margin-right: 10px; text-align: center; line-height: 30px; justify-content: center; border-radius: 100%;}
.profile_menu ul li a i.arrow { width: auto; font-size: 12px; display: flex; margin-left: auto; justify-content: end;}
.profile_menu ul li a:hover, .profile_menu ul li a.active, .profile_menu ul li a:hover i, .profile_menu ul li a:hover i:first-child, .profile_menu ul li a.active i{ color: #24aeb1;}
.profile_menu ul li a:hover i:first-child, .profile_menu ul li a.active i:first-child{ background: #e9f4f4;}
.profile_menu ul li a i.ti-export { transform: rotate(90deg);}
.user_tgl { position: relative; display: inline-block; }
.user_tgl .userimg { width: 40px; height: 40px; background: #fff; border: 3px solid #eee; line-height: 30px; border-radius: 100%; margin-right: 5px; text-align: center; display: inline-block; vertical-align: middle; overflow: hidden; }
.user_tgl .dropdown { display: inline-block; }
.user_tgl .dropdown a { display: inline-block; font-weight: 500; line-height: 26px; padding: 8px 0px; }
.user_tgl .dropdown .dropdown-menu { border: none; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); border-radius: 0px 0px 4px 4px; left: auto !important; right: 0px; min-width: 160px; padding: 0px; top: 42px; }
.user_tgl .dropdown .dropdown-menu li { width: 100%; border-bottom: 1px solid #f2f2f2; margin-left: 0px;}
.user_tgl .dropdown .dropdown-menu li:last-child { border-bottom: none; }
.user_tgl .dropdown .dropdown-menu li a { width: 100%; color: #555; font-size: 13px; font-weight: 400; padding: 8px 15px; }
.user_tgl .dropdown .dropdown-menu li a i { color: #555; font-size: 14px; margin-right: 8px; transition: all 0.5s ease-in-out; }
.user_tgl .dropdown .dropdown-menu li a i.ti-export { transform: rotate(90deg); display: inline-block; position: relative; left: 1px; }
.user_tgl .dropdown .dropdown-menu li a:hover { background: #fafafa; color: #24aeb1; }
.user_tgl .dropdown .dropdown-menu li a:hover i { color: #24aeb1;}

.right_sidebar { background: #fff; border-radius: 5px; box-shadow: 0 1px 2px rgba(0,0,0,.06); position: relative;}
.right_sidebar h2{ border-bottom: 1px solid #eee; font-size: 20px; padding: 18px 20px;}
.cmn_area{ width: 100%; display: inline-block; padding: 25px 20px 30px 20px;}
.user_txt{ margin-bottom: 25px; }
.user_txt label{ color:#24aeb1;  display: block; font-size: 14px; margin-bottom: 8px;}
.user_txt span{ width: 100%; display: inline-block; background: #f9f9f9; border:1px solid #f0f0f0; border-radius: 3px; height: 46px; padding: 12px 15px;}
.cmn_btn{ background: #24aeb1; border:2px solid #24aeb1; border-radius: 3px; color: #fff; display: inline-block; font-weight: 500; height: 46px; line-height: 22px; letter-spacing: 0.5px; padding: 11px 20px; text-transform: uppercase;}
.cmn_btn:hover{ background: #333; border-color: #333; color: #fff;}
.cmn_btn i{ margin-right: 5px; position: relative; top: 1px;}
.cncl_btn{ background: none; border:0px; border-radius: 3px; color: #888; display: inline-block; font-weight: 500; height: 46px; margin-left: 25px; line-height: 22px; letter-spacing: 0.5px; padding: 11px 0px; text-transform: uppercase;}
.cncl_btn:hover{ color: #333;}

.radio_btn{ display: inline-block; margin-right: 40px; }
.right_sidebar a.add_new{ font-size: 14px; font-weight: 500; color: #555; position:absolute; right:20px; top:19px;}
.right_sidebar a.add_new:hover{ color: #24aeb1;}
.address_blk { background:#fafafa; padding:15px 15px 15px 43px; border-radius:5px; border:1px solid #eee; margin-bottom:20px; position:relative;}
.address_blk h4{ font-size:16px; margin-bottom:5px;}
.address_blk h5{ font-size:15px; font-weight: 400; color: #888; margin-bottom:12px;}
.address_blk p{ margin-bottom:15px;}
.address_blk span{ background: #f0f0f0; border-radius:2px; font-size: 12px; font-weight: 500; color: #878787; line-height:18px; position:absolute; right:20px; top:14px; padding:3px 8px; text-transform: uppercase;}
.address_blk button.edit_btn { border: 1px solid #e8e8e8; background: #fff; font-size: 13px; padding: 5px 17px; line-height: 20px; margin-right: 5px;}
.address_blk button.edit_btn.dlt{ background:#ea2626; border-color: #ea2626; color:#fff;}
.address_blk button.edit_btn:hover{ background:#24aeb1; color:#fff; border-color:#24aeb1;}
.address_blk button.edit_btn.dlt:hover{ background:#cf2727; border-color:#cf2727;}
.address_blk .radio_btn { position: absolute; left: 15px; top: 13px;}

.card-box {display: inline-block; width: 100%; background: #fafafa; padding: 20px; border: 1px solid #eee; border-radius: 5px; position: relative; margin-bottom: 20px;}
.card-box h4 {font-size: 15px; padding-bottom: 10px; font-weight: normal;}
.card-box h4 span {display: inline-block; vertical-align: middle; font-size: 14px; margin-left: 20px;}
.card-box h4 span a {color: #7dbb3e;}
.card-box h4 span a:hover {color: #24aeb1;}
.card-box p {letter-spacing: 2px; margin-bottom: 0; color: #212121; font-size: 14px;}

.card-box p img {display: inline-block; vertical-align: middle; margin-right: 15px;}
.card-delete {position: absolute; right: 20px; top: 20px;}
.card-box .card-delete a { color: #e11919; font-size: 18px;}
.card-box .card-delete a:hover { color: #24aeb1;}

.modal .cmn_area{ padding: 5px 5px 0px; }
.modal .close{ font-size: 26px; font-weight: 300;}
.modal .cmn_area label{ color: #24aeb1; font-size: 14px;}

.cart_detail_blk { background: #fff; border-radius: 5px; box-shadow: 0 1px 2px rgba(0,0,0,.06); position: relative;}
.cart_detail_blk h2{ border-bottom: 1px solid #eee; font-size: 20px; padding: 18px 20px;}
.cart_items_detail{ padding: 0px 20px;}
.cart_item{ border-bottom: 1px solid #eee; display: flex; align-items: center; padding: 25px 0px;}
.cart_item:last-child{ border-bottom: 0px;}
.item_img{ width:110px; border: 1px solid #eaeaea; background: #fff; margin-right:15px; overflow:hidden; text-align:center; padding: 5px;}
.item_info{ max-width: 70%;}
.item_info h4{ font-size: 16px; font-weight: 500; line-height: 24px; margin-bottom: 5px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.item_info em{ color: #1aab2a; display: block; font-size: 13px; font-style: normal; margin-bottom: 5px;}
.item_info span{ color: #888;}
.item_info .prodct_price_blk{ margin-top: 10px; }
.item_info .prodct_price_blk h3{ font-size: 20px;}

.item_qty{ margin-left: auto; text-align: right;}
.input-number { display:block; width:100px; margin-bottom: 13px; margin-left: auto; position:relative;}
.input-number__input { -moz-appearance:textfield; display:block; width:100%; min-width:88px; height: 40px; padding-left:24px; padding-right:24px; text-align:center}
.input-number__input::-webkit-inner-spin-button,
.input-number__input::-webkit-outer-spin-button { -webkit-appearance:none}
.input-number__add,
.input-number__sub { position:absolute; height:100%; width:24px; top:0; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; opacity:.3; transition:opacity .18s}
.input-number__add:after,
.input-number__add:before,
.input-number__sub:after,
.input-number__sub:before { display:block; content:""; position:absolute; top:50%; left:50%; transform:translateX(-50%) translateY(-50%); background:currentColor;}
.input-number__add:before, .input-number__sub:before { width:8px; height:2px}
.input-number__add:hover, .input-number__sub:hover { opacity:1}
.input-number__sub { left:1px}
.input-number__add { right:1px}
.input-number__add:after { width:2px; height:8px}

.item_qty a{ color: #e11919; text-align: right;}
.item_qty a i{ color: #e11919; font-size: 16px; margin-right: 5px; position: relative; top: 0px;}
.item_qty p{ color: #888; margin-top: 12px;}

.apply_code{ background: #fff; border-radius: 5px; box-shadow: 0 1px 2px rgba(0,0,0,.06); cursor: pointer;  position: relative; padding: 22px 15px 18px 15px;}
.apply_code a{ font-size: 14px; font-weight: 500; line-height: 18px; display: block; letter-spacing: 0.3px; text-transform: uppercase;}
.apply_code span{ margin-right: 8px; position: relative; top: -2px;}
.apply_code i{ float: right; font-size: 12px; margin-left: auto; padding-top: 3px;}
.apply_code a:hover{ color:#24aeb1;}

.apply_code .card{ border-radius: 0px; border:0px; border-top: 1px solid #eee; margin-top: 18px; padding: 18px 0px 0px;}
.coupon_blk ul li{ background: #f8f8f8; border: 1px solid #eee; border-radius: 3px; margin-bottom: 10px;padding: 10px 15px;}
.coupon_blk ul li:last-child{ margin-bottom: 0px;}
.coupon_blk ul li label{ font-size: 15px !important; font-weight: 500 !important;}
.coupon_blk .radio_btn{ margin-right: 0px;}
.coupon_blk ul li p{ color: #888; font-size: 13px; line-height: 18px; padding-left: 25px;}
.free_delivery{ background-color: rgba(36,174,177,0.08); border:1px dashed #24aeb1; border-radius: 5px; color: #24aeb1; margin: 20px 0px 30px; padding: 10px 25px; text-align: center;}

.order_price_blk h2{ font-size: 16px; margin-bottom: 15px;}
.payment_details{ background: #fff; border-radius: 5px; box-shadow: 0 1px 2px rgba(0,0,0,.06); padding: 10px 10px 15px 10px;}
.payment_details ul { padding: 0px 10px;}
.payment_details ul li{ display: inline-block; width:100%; padding:8px 0; vertical-align:top;}
.payment_details ul li span:first-child{ float:left; text-align:left; }
.payment_details ul li span:last-child{ float:right; text-align:right;}
.payment_details  ul .total_amnt{ border-top: 1px dashed #888; margin-top: 5px; padding-top: 15px;}
.payment_details  ul .total_amnt span { font-size: 15px; font-weight: 500;}
.total_sav{ background: #f3f5f9; color: #1aab2a; font-size: 13px; font-weight: 500; margin-top: 10px; padding: 10px;}
.total_sav span{ float: right; }
.payment_details button{ width: 100%; margin-top: 15px;}
.continue_shpng{ margin-top: 20px; text-align: center;}
.continue_shpng a.cncl_btn{ height: auto; margin: 0px; padding: 0px;}
.continue_shpng a.cncl_btn i{ font-size: 12px;}

.safety_txt{ background: #fff; border-radius: 5px; box-shadow: 0 1px 2px rgba(0,0,0,.06); color: #888; font-size: 13px; line-height: 18px; margin-top: 15px; padding: 13px 25px; text-align: center;}

.wishlist_blk{ padding: 0px 20px; }
.wishlist_blk .cart_item{ align-items: center;}
.wishlist_blk .item_img{ width: 85px; padding: 5px;}
.wishlist_blk .item_info h4{ font-size: 16px; }
.wishlist_blk .item_qty a i{ margin-right:0px; top: 0px; position:static;}

.star-rating { direction: rtl; display: inline-block; padding: 0px;}
.star-rating input[type=radio] { display: none;}
.star-rating label { color: #bbb !important; font-size: 18px; padding: 0px 5px 0px 0px !important; cursor: pointer; transition: all .3s ease-in-out;}
.star-rating label i{ font-size: 24px;}
.star-rating label::before, .star-rating label::after{ content: none !important;}
.star-rating label:hover, .star-rating label:hover ~ label, .star-rating input[type=radio]:checked ~ label { color: #f28800 !important;}

.wishlist_blk .item_qty .cmn_btn{ height:38px; padding:7px 20px;}
.wishlist_blk .item_qty a { background: #f3f5f9; width: 38px; height: 38px; display: inline-block; line-height: 42px; margin-left:5px; text-align: center; vertical-align: top;}

.subscription_blk{ text-align: center; padding:40px 20px;}
.subscription_blk h3 { font-size: 24px; margin-bottom: 5px; }
.subscription_blk h4{ font-size: 16px; font-weight: normal; margin-bottom: 50px;}
.subscription_benefts{ background: #f3f5f9; padding: 40px 15px 30px;}
.subscription_benefts i{ width: 90px; height: 90px; background: #fff; border-radius: 100%; display: inline-block; line-height: 84px;}
.subscription_benefts h5{ font-size: 18px; margin: 20px 0px 5px; }
.benefit_btn{ margin:30px 0px; text-align: center; }
.benefit_btn .cmn_btn{ padding: 11px 50px; }

.refer_left{ padding-top: 20px;}
.refer_left h3{ font-size: 16px; margin-bottom: 10px;}
.refer_left p{ font-size: 15px; line-height: 22px; margin-bottom: 25px;}
.refer_left h4{ font-size: 16px; margin-bottom: 15px;}
.refer_left ul li{ display: inline-block; margin-right: 15px; text-align: center;}
.refer_left ul li img{ width: 35px; }
.refer_left ul li span{ display: block; font-size: 13px; color: #777777; margin-top: 5px;}
.refer_right{ text-align: right;}
.referral_blk{ background-color: rgba(36,174,177,0.08); border:1px dashed #24aeb1; border-radius: 5px; color: #24aeb1; display: flex; justify-content: space-between; margin: 30px 0px 0px; padding:20px;}
.referral_blk h5{ font-size: 15px; color: #333;}
.referral_blk span{ font-size: 18px; color: #24aeb1; font-weight: 600;}

.wallet_left h3{  font-size: 18px; line-height: 36px;}
.wallet_left h3 span{ display: block; font-size: 28px; font-weight: 600; color: #24aeb1;}
.wallet_right{ text-align: right; }

.transaction_blk{ background: #f3f5f9; border-radius: 5px; margin-top: 30px; padding: 20px 20px;}
.transaction_blk h3{ font-size: 14px; color: #777777; margin-bottom: 15px; text-transform: uppercase;}
.transaction_blk ul li{ background: #fff; display: flex; align-items: center; margin-bottom: 5px; position: relative; padding: 15px 20px 15px 68px;}
.transaction_blk ul li:last-child{ margin-bottom: 0px; }
.transaction_blk ul li i{ width: 35px; position: absolute; left: 20px; top: 17px;}
.transaction_left h4, .transaction_right h4{ font-size: 15px; line-height: 20px; margin-bottom: 2px;}
.transaction_left p, .transaction_right p{ font-size: 14px; color: #777777; }
.transaction_right{ margin-left: auto; text-align: right;}
.red{ color: #ea1313;}
.green{ color: #10c662;}

.order_details{ background: #fafafa; border:1px solid #eee; border-radius: 5px; margin-bottom: 20px; position: relative; padding: 20px;}
.order_details h3{ font-size: 16px; margin-bottom: 4px;}
.order_details span{ font-size: 16px; font-weight: 500; color: #24aeb1; position: absolute; right: 20px; top: 20px;}
.order_details p{ margin-bottom: 15px;}
.order_details ul{ min-height: 48px;}
.order_details ul li{ margin-bottom: 8px; position: relative; padding-left:25px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.order_details ul li:last-child{ margin-bottom: 0px; }
.order_details ul li i{ position: absolute; left: 0px; top: -1px;}
.action_btns{ margin-top: 20px; }
.action_btns a, .action_btns button{ width: 100%;}
.action_btns a.cncl_btn{ background: #fff; border:1px solid #e4e4e4;  margin: 0px; text-align: center; }

.payment_details.order_info ul{ padding: 0px;}
.payment_details.order_info ul li{ background: #f8f8f8; padding: 13px 15px;}
.payment_details.order_info ul li:nth-child(odd){ background: #fff;}
.payment_details.order_info button{ margin-top: 10px; }

.invoice_btn{ background: #f8f8f8; border:1px solid #e4e4e4; border-radius: 3px; color: #888; display: inline-block; font-weight: 500; height: 46px; line-height: 22px; letter-spacing: 0.5px; padding: 11px 20px; text-transform: uppercase;}
.invoice_btn:hover{ background: #f5f5f5; color: #333; }

.order_delivery_info{ margin-bottom: 30px; }
.order_delivery_info h2{ font-size: 16px; margin-bottom: 15px;}
.delivered_date{ background: #fff; box-shadow: 0 1px 2px rgb(0 0 0 / 6%); border-radius: 5px; display: flex; align-items: center; padding: 15px 20px;}
.delivered_date h3{ font-size: 15px; margin-bottom: 0px;}
.delivered_date h3 i{ margin-right: 5px; position: relative; top: -1px;}
.delivered_date p{ margin-left: auto; }
.order_delivery_info .payment_details{ min-height: 158px; padding-bottom: 10px; }

.order_delivery_info .address_blk{ background: #fff; border:0px; box-shadow: 0 1px 2px rgb(0 0 0 / 6%); border-radius: 5px; min-height: 158px; padding: 15px 20px;}
.order_delivery_info .address_blk p{ line-height: 24px; margin-bottom: 0px;}

.order_name{ background: #fff; border:0px; box-shadow: 0 1px 2px rgb(0 0 0 / 6%); border-radius: 5px; padding:5px 20px;}
.order_name ul li{ border-bottom: 1px solid #eee; display: flex; align-items: flex-start; justify-content: space-between; padding: 18px 0px 18px 28px; position: relative;}
.order_name ul li i{ position: absolute; left: 0px; top: 17px;}
.order_name ul li h4{ font-size: 18px; font-weight: 500; color: #24aeb1;}
.medicine_detail h3{ font-size: 16px; margin-bottom: 7px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.medicine_detail p{ margin-bottom: 5px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.medicine_detail p span{ color: #888;}
.medicine_detail p:last-child{ margin-bottom: 0px;}
.order_name ul li:last-child{ border-bottom: 0px;}
.review_title{ font-size: 16px; margin-bottom: 15px;}

.cart_blk .order_delivery_info{ margin:30px 0px;}
.address_blk a.js-offcanvas-trigger{ display: inline-block; margin-top: 10px; }
.address_blk a.js-offcanvas-trigger span{ background: none; color: #24aeb1; font-size: 14px; font-weight: 400; position: relative; top: 0px; left: 0px; padding: 0px; text-transform: capitalize;}

.c-offcanvas--right{ max-width: 400px; width: 100%; padding:50px 20px 25px 20px;}
.js-offcanvas h2{ font-size: 20px; margin-bottom: 25px;}
.js-offcanvas .cmn_btn{ width:100%; text-align: center; }
.js-offcanvas-close{ background: none; border:0px; position: absolute; left: 15px; top: 15px;}
.js-offcanvas .cmn_area{ padding: 0px 20px;}
.js-offcanvas.is-open a, .js-offcanvas.is-open button {
    transition: all 0.3s ease-in-out;
}
.js-offcanvas a, .js-offcanvas button {
    transition: all 0s ease-in-out;
}
.green_btn{ background: #2bc570; border-color: #2bc570;}
.dropdown:hover .dropdown-menu { display: block; margin-top: 0;}
.login_blk{ width: 1024px; margin:20px auto 0px; background: #fff; border-radius: 5px; box-shadow: 0 1px 2px rgba(0,0,0,.06); position: relative; padding: 40px 25px;}
.login_img{ text-align: center; }
.login_detail h2{ font-size: 22px; margin-bottom: 15px;}
.login_detail p{ color: #888; margin-bottom: 35px;}
.login_detail .form-group{ position: relative;}
.login_detail .form-group label{ font-size: 12px; font-weight: 500; line-height: 14px; letter-spacing: 0.5px; margin-bottom: 0px; text-transform: uppercase;}
.login_detail .form-group span{ border-right: 1px solid #ddd; font-size: 16px; font-weight: 500; padding-right: 10px; position: absolute; left: 0px; top: 28px;}
.login_detail .form-group a{ font-size: 13px; color: red; font-style: normal; position: absolute; right: 0px; top: 30px;}
.login_detail .form-group .form-control{ border: none; border-bottom: 1px solid #ddd; font-size: 16px; font-weight: 500; height: 36px; padding: 0px 15px 0px 50px;}
.login_detail.register .form-group{ margin-bottom: 22px;}
.login_detail.register .form-group .form-control{ border: none; border-bottom: 1px solid #ddd; font-size: 15px; height: 36px; padding: 0px;}
.login_detail.register .form-group .form-control::placeholder{ font-size: 14px; font-weight: 400;}
.login_detail.register .form-group a{ color: #888; font-style: normal; position: absolute; right: 0px; top: 30px;}
.login_detail.register .otp_boxes{ margin:0px 0px 25px;}
.login_detail .form-group .form-control::placeholder{ font-size: 14px; font-weight: 400;}
.login_detail .form_btns button{ width: 100%; text-transform: uppercase;}
.login_detail .or_txt{ margin: 20px auto; position: relative; text-align: center;}
.login_detail .form_btns span{ background: #fff; color: #888; font-size: 13px; padding: 3px 10px; position: relative;}
.login_detail .or_txt::before{ width: 100%; height: 1px; background: #ddd; content:''; margin: auto; position: absolute; left: 0px; right: 0px; top: 9px;}
.bdr_btn{ background: #fff; border:1px solid #24aeb1; border-radius: 3px; color: #24aeb1; display: inline-block; font-weight: 500; height: 46px; line-height: 22px; letter-spacing: 0.5px; padding: 11px 20px; text-transform: uppercase;}
.bdr_btn:hover{ background: #24aeb1; border-color: #24aeb1; color: #fff;}
.login_social{ margin-top: 20px; text-align: center; }
.login_social span{ color: #888; display: block; margin-bottom: 20px;}
.login_social a { background: #171717; border-radius: 3px; display: inline-block; padding: 10px 30px 10px 48px; font-size: 13px; color: #fff; margin: 0px 10px; position: relative; text-align: center; transition: all 0.5s ease-in-out; text-transform: uppercase;}
.login_social a:hover { background: #000; color: #fff; }
.login_social a.fb{ background:#3c5899; border: 1px solid #3c5899;}
.login_social a.google{ background:#de4b39; border: 1px solid #de4b39;}
.login_social a.fb:hover{ background:#324b86;}
.login_social a.google:hover{ background:#be4536;}
.login_social a i { position: absolute; font-size: 16px; left: 23px; top: 11px;}


.otp_boxes{ margin:30px 0px 25px; position: relative;}
.otp_boxes span{ display: block; font-size: 12px; font-weight: 500; color: #888; margin-top: 5px; margin-bottom: 5px; letter-spacing: 0.5px; text-transform: uppercase;}
.otp_boxes small{ display: block; font-size: 13px; color: #888; margin-top: 5px; margin-bottom: 10px;}
.otp_boxes ul li{ width: 53px; display: inline-block; margin-right: 10px;}
.otp_boxes ul li:last-child{ margin-right: 0px;}
.otp_boxes ul li .form-control{ background: #f8f8f8; border-radius: 2px; font-size: 18px; font-weight: 500; height: 48px; text-align: center;}
.otp_boxes a{ font-size: 13px; color: red; font-style: normal; position: absolute; right: 0px; bottom: 0px;}

